{% extends 'website/base.html' %}
{% load static %}
{% block content %}
    <div class="wrapper">
        {% include 'website/sidebar.html' %}
        {% include 'website/header.html' %}
        <div class="main-panel">
            <!-- Navbar -->
            
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <form id="update_instructor" class="form-horizontal" action="{% url 'InstructorupdateView' instructor.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="card ">
                                        <div class="card-header ">
                                            <h4 class="card-title">Instructor Details</h4>
                                        </div>
                                        <div class="card-body ">
                                            <div class="row">
                                                <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>FullName</label>
                                                    <input class="form-control" value="{{ instructor.full_name }}" type="text" name="fullname" placeholder="enter your full_name" autofocus required />
                                                </div>
                                                </div>
                                                <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <input class="form-control" value="{{ instructor.email }}" type="email" name="email" placeholder="enter email" />
                                                </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Mobile</label>
                                                    <input class="form-control" type="text" value="{{ instructor.mobile }}" name="mobile" placeholder="enter your mobile number" />
                                                </div>
                                                </div>
                                                <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Courses</label>
                                                <select class="selectpicker" name="course" multiple size="7">
                                                  {% for course in all_courses %}
                                                    <option value="{{ course.id }}" {% if course.status == True %} selected='true' {% endif %}>{{ course.name }}</option>
                                                  {% endfor %}
                                                </select>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Days_Of_Week</label>
                                                     <select class="selectpicker" name="days_of_week" multiple>
                                                            {% for days_of_week in days_of_week_all %}
                                                              <option value="{{ days_of_week.1 }}" {% if days_of_week.1 in working_days %} selected="true" {% endif %}>{{ days_of_week.1 }}</option>
                                                            {% endfor %}
                                                     </select>
                                                </div>
                                                </div>
                                                <!-- <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Added_on</label>
                                                    <input type="text" class="form-control datetime-input" value="{{ instructor.added_on }}" name="added_on" required="true" />
                                                </div>
                                                </div> -->
                                            </div>
                                        </div>
                                        <div class="card-footer text-center">
                                            <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                                            <button type="submit" class="btn btn-info float-right" value="Reset form">update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'website/footer.html' %}
        </div>
    </div>
{% endblock content %}
