<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Welcome to AP2V</title>

    <!-- Bootstrap -->
    <link href="css/global.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NBG7NXZ');</script>
    <!-- End Google Tag Manager -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49118138-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-49118138-1');
        </script>
    <!-- End Global site tag (gtag.js) - Google Analytics -->

    <!-- Global site tag (gtag.js) - Google Ads: 617098637 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-617098637"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-617098637');
    </script>

    <!-- Event snippet for Website_Lead_AP2V_NOIDA_12/09 conversion page -->
    <script>
      gtag('event', 'conversion', {'send_to': 'AW-617098637/Ycz2CLbnx94BEI3boKYC'});
    </script>


    <!-- <script>
      gtag('config', 'AW-617098637/QrIrCIz2vN4BEI3boKYC', {
        'phone_conversion_number': '92103 33323'
      });
    </script> -->

    <script>
      gtag('config', 'AW-617098637/-GBqCMn32N4BEI3boKYC', {
        'phone_conversion_number': '97117 03453'
      });
    </script>


    <script>
      gtag('config', 'AW-617098637/ZdpZCNX32N4BEI3boKYC', {
        'phone_conversion_number': '124 4364210'
      });
    </script>
  </head>
  <body class="fixed-navigation">

  <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NBG7NXZ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- main banner and menu container starts here  -->
    <div class="container-fluid side-collapse-container">
      <div class="row">
        <!-- header Satrts here -->
        <header class="rel">
          <!-- navbar Starts here -->
          <nav class="navbar">
            <div class="container">
              <div class="navbar-header">
                <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="navbar-toggle pull-left">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="index.html">
                  <span></span>
                </a>
              </div>

              <div class="side-collapse in">
                <div id="navbar" class="navbar-collapse">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.html">Home</a></li>
                    <li class="dropdown">
                      <a href="#" class="js-dropdown">Courses &amp; Certifications <span class="caret"></span></a>
                      <ul class="dropdown-menu js-multi-level">
                        <li class="header-menu">
                          <span class="icon-back js-menu-back"></span>
                          System administration
                        </li>
                        <li class="dropdown-submenu js-level-one">
                          <a href="#">System administration</a>

                          <ul class="dropdown-menu js-level-two">
                            <li class="header-menu">
                              <span class="icon-back js-menu-back"></span>
                              System administration
                            </li>
                            <li><a href="product-list.html">Product List</a></li>
                            <li><a href="search.html">Search page</a></li>
                            <li><a href="testimonials.html">Testimonials</a></li>
                            <li><a href="gallery.html">Gallery Page</a></li>
                            <li><a href="detail.html">Detail Page</a></li>
                            <li><a href="#">Apache – HTTP Server</a></li>
                            <li><a href="#">NGinx – High-Performance HTTP Server and Reverse Proxy</a></li>
                          </ul>
                        </li>

                        <li class="dropdown-submenu js-level-one">
                          <a href="#">Advanced administration</a>
                          <ul class="dropdown-menu js-level-two">
                            <li class="header-menu">
                              <span class="icon-back js-menu-back"></span>
                              System administration
                            </li>
                              <li><a href="#">RH342 – Red Hat Enterprise Linux Diagnostics and Troubleshooting</a></li>
                              <li><a href="#">Red Hat Training</a></li>
                              <li><a href="#">RH134 – Red Hat System Administration II</a></li>
                              <li><a href="#">RH124 – Red Hat System Administration I</a></li>
                              <li><a href="#">RH254 – Red Hat System Administration III</a></li>
                              <li><a href="#">Apache – HTTP Server</a></li>
                              <li><a href="#">NGinx – High-Performance HTTP Server and Reverse Proxy</a></li>
                          </ul>
                        </li>

                        <li class="dropdown-submenu js-level-one">
                          <a href="#">Devops</a>
                          <ul class="dropdown-menu js-level-two">
                            <li class="header-menu">
                              <span class="icon-back js-menu-back"></span>
                              System administration
                            </li>
                              <li><a href="#">NGinx – High-Performance HTTP Server and Reverse Proxy</a></li>
                              <li><a href="#">RH124 – Red Hat System Administration I</a></li>
                              <li><a href="#">RH342 – Red Hat Enterprise Linux Diagnostics and Troubleshooting</a></li>
                              <li><a href="#">Red Hat Training</a></li>
                              <li><a href="#">RH134 – Red Hat System Administration II</a></li>
                              <li><a href="#">RH254 – Red Hat System Administration III</a></li>
                              <li><a href="#">Apache – HTTP Server</a></li>
                          </ul>
                        </li>

                        <li class="dropdown-submenu js-level-one">
                          <a href="#">Cloud</a>
                          <ul class="dropdown-menu js-level-two">
                            <li class="header-menu">
                              <span class="icon-back js-menu-back"></span>
                              System administration
                            </li>
                              <li><a href="#">RH342 – Red Hat Enterprise Linux Diagnostics and Troubleshooting</a></li>
                              <li><a href="#">Red Hat Training</a></li>
                              <li><a href="#">RH134 – Red Hat System Administration II</a></li>
                              <li><a href="#">RH124 – Red Hat System Administration I</a></li>
                              <li><a href="#">RH254 – Red Hat System Administration III</a></li>
                              <li><a href="#">Apache – HTTP Server</a></li>
                              <li><a href="#">NGinx – High-Performance HTTP Server and Reverse Proxy</a></li>
                          </ul>
                        </li>

                        <li class="dropdown-submenu js-level-one">
                          <a href="#">Middleware</a>
                          <ul class="dropdown-menu js-level-two">
                            <li class="header-menu">
                              <span class="icon-back js-menu-back"></span>
                              System administration
                            </li>
                              <li><a href="#">Red Hat Training</a></li>
                              <li><a href="#">RH134 – Red Hat System Administration II</a></li>
                              <li><a href="#">RH254 – Red Hat System Administration III</a></li>
                              <li><a href="#">Apache – HTTP Server</a></li>
                          </ul>
                        </li>

                        <li class="dropdown-submenu js-level-one">
                          <a href="#">Development</a>
                          <ul class="dropdown-menu js-level-two">
                            <li class="header-menu">
                              <span class="icon-back js-menu-back"></span>
                              System administration
                            </li>
                              <li><a href="event.html">Apache – HTTP Server</a></li>
                              <li><a href="#">NGinx – High-Performance HTTP Server and Reverse Proxy</a></li>
                              <li><a href="#">RH342 – Red Hat Enterprise Linux Diagnostics and Troubleshooting</a></li>
                              <li><a href="#">Red Hat Training</a></li>
                              <li><a href="#">RH134 – Red Hat System Administration II</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href="event.html">Events</a></li>
                    <li><a href="blog-listing.html">Blogs</a></li>
                    <li><a href="about-us.html">About us</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li class="offers"><a href="offers.html">Offers</a></li>
                    <li class="hidden-xs">
                      <span class="icon-search" data-toggle="collapse" data-target="#demo"></span>
                      <div class="search-container menu-search collapse" id="demo">
                        <sup class="sprite"></sup>
                        <div class="input-group">
                          <div class="input-group-btn">
                            <select>
                                <option>Select location</option>
                                <option>Delhi NCR</option>
                                <option>Hyderabad</option>
                                <option>Bangalore</option>
                                <option>Pune</option>
                            </select>
                          </div><!-- /btn-group -->
                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="Recipient's username">
                            <buttton class="input-group-addon sprite">Search</buttton>
                          </div>
                        </div><!-- /input-group -->
                      </div><!-- search-container -->
                    </li>
                  </ul>
                </div><!--/.nav-collapse -->
              </div>
            </div>
          </nav><!-- navbar Ends here -->

          <!-- home banner starts here -->
          <div class="bannerSm-wrap">

          <!-- inner banner starts here -->
          <div class="inner-banner">
            <div class="banner-content">
            <div class="container">
              <div class="row">

                <ol class="breadcrumb mb-5">
                  <li><a href="#">Home</a></li>
                  <li class="active">Photo gallery</li>
                </ol><!-- /.breadcrumb -->

                <div class="inner-banner-wrap">
                  <div class="inner-content">
                    <h1>Photo gallery</h1>
                  </div>

                  <div class="pull-right call-to-action hidden-xs hidden-sm">
                    <!-- <a href="#"><span class="icon-phone"></span>91 9219333323</a> -->
                    <a href="#" data-toggle="modal" data-target="#rac-call"><span class="icon-phone" ></span>{{configration.mobile}}</a>
                    <a href="#" data-toggle="modal" data-target="#rac-down"><span class="icon-mail"></span>Enroll Now</a>
                  </div>
                  <div class="clearfix"></div>
                </div><!-- /.inner-banner-content -->

              </div><!-- /.row -->
            </div><!-- /.container -->
            </div>
          </div><!-- inner banner ends here -->

          <div class="inner-overlay">
            <img src="images/event-main.jpg" class="img-responsive">
          </div><!-- inner overlay ends here -->

          </div><!-- home banner ends here -->
        </header><!-- header ends here -->
      </div><!-- row ends here -->
      <div class="mask"></div>
    </div><!-- main banner and menu container ends here  -->

    <section>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p>Dummy content OpenStack Administration III (CL310) course provides extensive hands-on training for experienced system administrators in how to use the distributed storage features of Red Hat Ceph Storage and the networking capabilities of OpenStack® Neutron. Students will set up a Ceph environment.</p>
          </div><!-- /.col -->
        </div><!-- /.ROW -->

        <div class="gallery">
            <ul id="lightgallery" class="list-unstyled row">
                <li class="col-xs-6 col-sm-4"
                  data-pinterest-share-url="pinterest-share.html"
                  data-twitter-share-url="twitter-share.html"
                  data-facebook-share-url="facebook-share.html"
                  data-googleplus-share-url="googleplus-share.html"
                  data-src="images/gallery/galler-1.jpg"
                  data-sub-html="<h4>Lorem ipsum dolor sit amet</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>">
                  <a href=""><img class="img-responsive" src="images/gallery/thumb-1.jpg"></a>
                </li>

                <li class="col-xs-6 col-sm-4"
                  data-pinterest-share-url="pinterest-share.html"
                  data-twitter-share-url="twitter-share.html"
                  data-facebook-share-url="facebook-share.html"
                  data-googleplus-share-url="googleplus-share.html"
                  data-src="images/gallery/galler-2.jpg"
                  data-sub-html="<h4>Sed ut perspiciatis unde</h4>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>">
                  <a href=""><img class="img-responsive" src="images/gallery/thumb-2.jpg"></a>
                </li>

                <li class="col-xs-6 col-sm-4"
                  data-pinterest-share-url="pinterest-share.html"
                  data-twitter-share-url="twitter-share.html"
                  data-facebook-share-url="facebook-share.html"
                  data-googleplus-share-url="googleplus-share.html"
                  data-src="images/gallery/galler-3.jpg"
                  data-sub-html="<h4>1914 translation by H. Rackham</h4>
                  <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system</p>">
                  <a href=""><img class="img-responsive" src="images/gallery/thumb-3.jpg"></a>
                </li>

                <li class="col-xs-6 col-sm-4"
                  data-pinterest-share-url="pinterest-share.html"
                  data-twitter-share-url="twitter-share.html"
                  data-facebook-share-url="facebook-share.html"
                  data-googleplus-share-url="googleplus-share.html"
                  data-src="images/gallery/galler-4.jpg"
                  data-sub-html="<h4>Lorem ipsum dolor sit amet</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>">
                  <a href=""><img class="img-responsive" src="images/gallery/thumb-4.jpg"></a>
                </li>

                <li class="col-xs-6 col-sm-4"
                  data-pinterest-share-url="pinterest-share.html"
                  data-twitter-share-url="twitter-share.html"
                  data-facebook-share-url="facebook-share.html"
                  data-googleplus-share-url="googleplus-share.html"
                  data-src="images/gallery/galler-5.jpg"
                  data-sub-html="<h4>Sed ut perspiciatis unde</h4>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>">
                  <a href=""><img class="img-responsive" src="images/gallery/thumb-5.jpg"></a>
                </li>

                <li class="col-xs-6 col-sm-4"
                  data-pinterest-share-url="pinterest-share.html"
                  data-twitter-share-url="twitter-share.html"
                  data-facebook-share-url="facebook-share.html"
                  data-googleplus-share-url="googleplus-share.html"
                  data-src="images/gallery/galler-6.jpg"
                  data-sub-html="<h4>1914 translation by H. Rackham</h4>
                  <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system</p>">
                  <a href=""><img class="img-responsive" src="images/gallery/thumb-6.jpg"></a>
                </li>

                <li class="col-xs-6 col-sm-4"
                  data-pinterest-share-url="pinterest-share.html"
                  data-twitter-share-url="twitter-share.html"
                  data-facebook-share-url="facebook-share.html"
                  data-googleplus-share-url="googleplus-share.html"
                  data-src="images/gallery/galler-7.jpg"
                  data-sub-html="<h4>Lorem ipsum dolor sit amet</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>">
                  <a href=""><img class="img-responsive" src="images/gallery/thumb-7.jpg"></a>
                </li>

                <li class="col-xs-6 col-sm-4"
                  data-pinterest-share-url="pinterest-share.html"
                  data-twitter-share-url="twitter-share.html"
                  data-facebook-share-url="facebook-share.html"
                  data-googleplus-share-url="googleplus-share.html"
                  data-src="images/gallery/galler-8.jpg"
                  data-sub-html="<h4>Sed ut perspiciatis unde</h4>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>">
                  <a href=""><img class="img-responsive" src="images/gallery/thumb-8.jpg"></a>
                </li>

                <li class="col-xs-6 col-sm-4"
                  data-pinterest-share-url="pinterest-share.html"
                  data-twitter-share-url="twitter-share.html"
                  data-facebook-share-url="facebook-share.html"
                  data-googleplus-share-url="googleplus-share.html"
                  data-src="images/gallery/galler-9.jpg"
                  data-sub-html="<h4>1914 translation by H. Rackham</h4>
                  <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system</p>">
                  <a href=""><img class="img-responsive" src="images/gallery/thumb-9.jpg"></a>
                </li>

                <li class="col-xs-6 col-sm-4"
                  data-pinterest-share-url="pinterest-share.html"
                  data-twitter-share-url="twitter-share.html"
                  data-facebook-share-url="facebook-share.html"
                  data-googleplus-share-url="googleplus-share.html"
                  data-src="images/gallery/galler-10.jpg"
                  data-sub-html="<h4>Lorem ipsum dolor sit amet</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>">
                  <a href=""><img class="img-responsive" src="images/gallery/thumb-10.jpg"></a>
                </li>

                <li class="col-xs-6 col-sm-4"
                  data-pinterest-share-url="pinterest-share.html"
                  data-twitter-share-url="twitter-share.html"
                  data-facebook-share-url="facebook-share.html"
                  data-googleplus-share-url="googleplus-share.html"
                  data-src="images/gallery/galler-11.jpg"
                  data-sub-html="<h4>Sed ut perspiciatis unde</h4>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>">
                  <a href=""><img class="img-responsive" src="images/gallery/thumb-11.jpg"></a>
                </li>

                <li class="col-xs-6 col-sm-4"
                  data-pinterest-share-url="pinterest-share.html"
                  data-twitter-share-url="twitter-share.html"
                  data-facebook-share-url="facebook-share.html"
                  data-googleplus-share-url="googleplus-share.html"
                  data-src="images/gallery/galler-12.jpg"
                  data-sub-html="<h4>1914 translation by H. Rackham</h4>
                  <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system</p>">
                  <a href=""><img class="img-responsive" src="images/gallery/thumb-12.jpg"></a>
                </li>




            </ul>
        </div>

      </div><!-- /.container -->
    </section><!-- /.section -->

    <!-- footer section starts here -->
    <footer class="container-fluid">
      <div class="row hidden-xs hidden-sm">
        <div class="col-sm-2">
          <p class="mt-30"><strong>Company & Policy Info</strong></p>
          <ul>
            <li><a href="#">About us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </div><!-- /.Col sm 3 -->

        <div class="col-sm-3">
          <p class="mt-30"><strong>Certifications</strong></p>
          <ul>
            <li><a href="#">RHCA – Red Hat Certified Architect</a></li>
            <li><a href="#">Red Hat Certified JBoss Administrator</a></li>
            <li><a href="#">RHCVA – Red Hat Certified Virtualization Administrator</a></li>
            <li><a href="#">RHOS – Red Hat Certified System Administrator in OpenStack</a></li>
            <li><a href="#">RHOS – Red Hat Certified System Administrator in OpenStack</a></li>
          </ul>
        </div><!-- /.Col sm 3 -->

        <div class="col-sm-3">
          <p class="mt-30"><strong>Courses</strong></p>
          <ul>
            <li><a href="#">Red Hat Training</a></li>
            <li><a href="#">RH342 – Red Hat Enterprise Linux Diagnostics and Troubleshooting</a></li>
            <li><a href="#">RH124 – Red Hat System Administration I</a></li>
            <li><a href="#">RH134 – Red Hat System Administration II</a></li>
            <li><a href="#">RH254 – Red Hat System Administration III Apache – HTTP Server</a></li>
          </ul>
        </div><!-- /.Col sm 3 -->

        <div class="col-sm-4 address">

          <div class="select-loc mb-30">
            <div class="input-group mt-30">
              <span class="input-group-addon"><sup class="icon-location"></sup></span>
              <select>
                <option>Select Location</option>
                <option>Gurugram</option>
                <option>Delhi</option>
                <option>Noida</option>
              </select>
            </div><!-- /.input-group -->
          </div><!-- /.select-loc -->

          <p>M-44, 2nd Floor, Old DLF Colony, Sector 14, Gurgaon</p>
          <!-- <p><strong class="block">Phone:</strong>+91-124-4364210,  +91-9540-045-109, +91-9210-333-323</p> -->
          <p><strong class="block">Email:</strong>info@ap2v.com</p>
          <ul class="smo">
            <li><a href="#" class="icon-fb">facebook</a></li>
            <li><a href="#" class="icon-twitter">twitter</a></li>
            <li><a href="#" class="icon-gplus">google plus</a></li>
            <li><a href="#" class="icon-linked">Linked in</a></li>

          </ul>
        </div><!-- /.Col sm 3 -->
      </div><!-- /.Row -->

      <div class="row botton-footer">
          <div class="col-sm-8 col-xs-12 dlmc">
            <a href="about-us.html">About Us</a>
            <a href="privacy-policy.html">Privacy Policy</a>
            <a href="tnc.html">Terms &amp; Condition</a>
            <a href="contact.html">Contact us</a>
          </div>
          <div class="col-sm-4 col-xs-12 drmc">Copyright © 2017 ap2v</div><!-- /.copyright -->
      </div><!-- /.bottom footer -->
    </footer><!-- footer section Ends here -->
    <!-- Sticky Bottom -->
    <!-- Sticky Bottom -->
    <div class="sticky-action">
      <a href="tel:+918306996216" class="btn-lg btn-default" data-toggle="modal" data-target="#rac-call">Talk to Expert</a>
      <a href="#" class="btn-lg btn-default" data-toggle="modal" data-target="#rac">Drop us your enquiry</a>

    </div><!-- /. Sticky Bottom -->

    <!-- Sticky Bottom -->
    <div class="sticky-action-mobile">
      <a href="tel:+918306996216" class="btn-lg btn-default" data-toggle="modal" data-target="#rac-call">Talk to Expert</a>
    </div>
    <!-- /. Sticky Bottom -->


    <!-- Modal -->

                                                    <!-- Modal for rac-call -->
                                                    <div class="modal fade" id="rac-call" role="dialog">
                                                      <div class="modal-content-call">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <div class="form-wrap-call">
                                                          <form method="post" action="{% url 'contact-popup-enquiry-call' %}" id="contact_popup_form">
                                                            {% csrf_token %}
                                                            <ul>
                                                              <li class="form-group">
                                                                <input type="number" name="mobile_number" class="form-control"  placeholder="Mobile Number*" required>
                                                              </li>

                                                              <li class="form-group">
                                                                <button type="submit" class="btn-lg btn-default">Submit</button>
                                                              </li>
                                                            </ul>
                                                          </form>
                                                        </div><!-- /. Form wrap -->
                                                      </div>
                                                    </div>
                                                  </div> <!-- /. Modal for rac-call -->


                            <!-- Modal for rac-down -->
                            <div class="modal fade" id="rac-down" role="dialog">
                              <div class="modal-content-call">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <div class="form-wrap-call">
                                  <form method="post" action="{% url 'contact-popup-enquiry-down' %}" id="contact_popup_form">
                                    {% csrf_token %}
                                    <ul>
                                      <li class="form-group">
                                        <input type="email" name="email_address" class="form-control" placeholder="e.g. example@gmail.com*" required>
                                      </li>

                                      <li class="form-group">
                                        <input type="number" name="mobile_number" class="form-control"  placeholder="Mobile Number*" required>
                                      </li>

                                      <li class="form-group">
                                        <button type="submit" class="btn-lg btn-default">Submit</button>
                                      </li>
                                    </ul>
                                  </form>
                                </div><!-- /. Form wrap -->
                              </div>
                            </div>
                          </div> <!-- /. Modal for rac-down -->
                          <!-- Modal for rac -->
                          <div class="modal fade" id="rac" role="dialog">
                            <div class="modal-content-call">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <div class="form-wrap-call">
                      	    <form method="post" action="{% url 'contact-popup-enquiry' %}" id="contact_popup_form">
                      	      {% csrf_token %}
                                  <ul>
                                    <li class="form-group">
                                       <input type="text" name="firstname" class="form-control" placeholder="Name*" required>
                                    </li>

                                    <li class="form-group">
                                       <input type="email" name="email_address" class="form-control" placeholder="e.g. example@gmail.com*" required>
                                    </li>

                                    <li class="form-group">
                      		      <input type="number" name="mobile_number" class="form-control"  placeholder="Mobile Number*" required>
                                    </li>
                      	     <!-- {% comment %}
                                    <li class="form-group">
                                       <select>
                                          <option>Select Course</option>
                                          <option>Red Hat Certified Architect</option>
                                          <option>Red Hat Traning </option>
                                          <option>Apache – HTTP Server</option>
                                          <option>RH254 – Red Hat System Administration III</option>
                                        </select>
                                    </li>
                      	     {% endcomment %} -->
                                    <li class="form-group">
                                       <textarea class="form-control" name="text_message" rows="3" placeholder="Type your query here*" required> </textarea>
                                    </li>
                      	      <!-- <li class="form-group">
                                            <img src="/captcha?rand={{ number }}" alt="Captcha" id="captchaimg" class="img-responsive">
                                    </li>
                                    <li class="form-group">
                                            <input type="text" name="captcha_code" id="captcha_code" class="form-control" placeholder="Captcha" required>
                                    </li> -->
                                    <!-- <li class="form-group">
                                            <a href="javascript:void(0);" onClick="refresh_captcha();">Refresh Captcha</a>
                                    </li> -->
                                    <li class="form-group">
                                       <button type="submit" class="btn-lg btn-default">Submit</button>
                                    </li>
                                  </ul>
                      	    </form>
                                </div><!-- /. Form wrap -->
                              </div>
                            </div>
                          </div><!-- /. Modal for rac-->

    <!-- Modal for rac-call -->
    <div class="modal fade" id="rac-call" role="dialog">
      <div class="modal-content-call">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="form-wrap-call">
          <form method="post" action="{% url 'contact-popup-enquiry' %}" id="contact_popup_form">
            {% csrf_token %}
            <ul>
              <li class="form-group">
                <input type="text" name="firstname" class="form-control" placeholder="Name*" required>
              </li>

              <li class="form-group">
                <input type="email" name="email_address" class="form-control" placeholder="e.g. example@gmail.com*" required>
              </li>

              <li class="form-group">
                <input type="number" name="mobile_number" class="form-control"  placeholder="Mobile Number*" required>
              </li>

              <li class="form-group">
                <textarea class="form-control" name="text_message" rows="3" placeholder="Type your query here*" required> </textarea>
              </li>

              <li class="form-group">
                <button type="submit" class="btn-lg btn-default">Submit</button>
              </li>
            </ul>
          </form>
        </div><!-- /. Form wrap -->
      </div>
    </div>
  </div> <!-- /. Modal for rac-call -->



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/common.js"></script>
  </body>
</html>
