    {% load static %}

    <section class="container-fluid white-bg">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="text-center">
              <h2 class="inline-block">Featured certifications</h2>
              <p class="home-para mb-30">AP2V offer globally recognized certifications which helps candidates to stand out from the crowd. The individuals can gain credibility after getting certified and it enable organizations to identify the
skilled Professionals.<p>
            </div><!-- /.Text center & main heading -->

            <!-- slider starts here -->
              <div class="certificate">
                {% for certificate in certifications %}
                <div class="col-sm-3">
                  <div class="white-box">
                    <a href="/certifications/{{certificate.slug}}">
                      <img src="/media/{{certificate.image}}" class="img-fluid">
                    </a>
                    <div class="content-box">
                      <h2 class="mb-5"><a href="/certifications/{{certificate.slug}}">{{certificate.name}}</a></h2>
                        <div class="rating inline-block ml-0">
                          <sup class="fill-star"></sup><strong>{{certificate.rating}}</strong>/5
                        </div> | {{certificate.category.all|join:" &bull; "}}
                        <div class="tag-wrap">
                          {% for tag in certificate.tags.all %}
                          <span>{{tag.name}}</span>
                          {% endfor %}
                        </div><!-- /.tag wrap -->
			{% comment %} 
                        <p class="mb-0 price"><strong>Rs.12000</strong><span>Rs.15000/-</span></p>
			{% endcomment %}
                    </div><!-- /.Content box -->
                  </div><!-- /. White box -->
                </div><!-- /.Col -->
                {% endfor %}

              </div><!-- slider ends here -->
              <p class="mb-0 text-center mt-30"><a href="/certifications/">View all certifications</a></p>
          </div><!-- /.Row -->
        </div><!-- /.container -->
      </div><!-- /.Row -->
    </section><!-- Featured certifications ends here -->
