{% extends 'home/sub_pages_base.html' %}
{% load static %}
{% block section_content%}
<link href="{% static "home/css/online_courses.css" %}?{% now "jS F Y H:i" %}" rel="stylesheet">
<div class="info-container">
  <div class="column">
    <div class="heading-div">
      <div class="heading">Online Courses</div>
      <hr>
    </div>
    <div class="column-content">
      <div class="content-container">
        <div class="paragraph-text"> 
          Online Training is education or training that take place over the Internet. 
          From few past years demand of online training is growing exponentially. 
        </div>
        <div class="paragraph-text"> 
          We provide the highest Live Online training offered in the Industry 
          AP2V provide online training and certification on top most technology courses. 
        </div>
        <div class="paragraph-text"> 
          You can purchase as many courses as you need for grow your career without going anywhere.
        </div>
      </div>
      <div class="icons-container">
        <div class="icon">
          <a href="/category/linux">
            <span class="icon-linux"></span>
            <p class="icon-lable">Linux</p>
          </a>
        </div>
        <div class="icon">
          <a href="/category/database">
            <span class="icon-database"></span>
            <p class="icon-lable">Database</p>
          </a>
        </div>
        <div class="icon">
          <a href="/category/cloud">
            <span class="icon-cloud"></span>
            <p class="icon-lable" >Cloud</p>
          </a>
        </div>
        <div class="icon">
          <a href="/category/bigdata">
            <span class="icon-bigData"></span>
            <p class="icon-lable">Big Data</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="heading-div">
      <div class="heading">Why AP2V</div>
      <hr>
    </div>
    <div class="column-content">
      <div class="background-image">
        <img src="{% static 'images/gallery/macbook-notebook.jpg' %}" alt="Photo" />
        <div class="overlay"></div>
      </div>
      <div class="content-list">
        <div class="list-item">Authorized Partner with Red Hat and Star Certification</div>
        <div class="list-item">Online Classes with Recording and Course Materials.</div>
        <div class="list-item">Excellent Support Services for Students</div>
        <div class="list-item">Hot and Trending Technologies</div>
        <div class="list-item">100% Job Placement Assistance</div>
        <div class="list-item">Live Projects Training</div>
        <div class="list-item">Free Technical Support after Course Completion</div>
        <div class="list-item">Easy Course Fees Payment Options Available.</div>
        <div class="list-item">We All Love the Work We Do</div>
      </div>
    </div>
  </div>
  <div class="column popular-courses">
    <div class="heading-div">
      <div class="heading">Popular Courses</div>
      <hr>
    </div>
    <div class="courses-container">
      <div class="courses-column">
        <div class="image-container">
          <img src="{% static '/images/courses/openstack-training.jpeg' %}" alt="AP2V Course" />
          <div class="overlay"></div>
        </div>
        <div class="course-info">
          <div class="heading-div">
            <div class="heading">Openstack</div>
            <hr>
          </div>
          <div class="course-content">
            In this Online Openstack Training at Ap2v Solutions, you will learn completely about the basic
            needs and necessities of OpenStack along with the tutorial to install and get started with
            OpenStack. Nothing can match the flexibility, elasticity, and ease of use that Ap2v Solutions
            provides.
          </div>
        </div>
      </div>
      <div class="courses-column">
        <div class="image-container">
          <img src="{% static '/images/courses/openshift-training.jpg' %}" alt="AP2V Course" />
          <div class="overlay"></div>
        </div>
        <div class="course-info">
          <div class="heading-div">
            <div class="heading">Openshift</div>
            <hr>
          </div>
          <div class="course-content">
            In Online Openshift Training at Ap2v Solutions you will be able to have a great experience, it is  for both Developers and System Administrators to develop, deploy, and run containerized applications using OpenShift. Developers should love using Developers are free to focus on their code in our online classes instead of spending time writing Dockerfiles and running docker builds. 
          </div>
        </div>
      </div>
      <div class="courses-column">
        <div class="image-container">
          <img src="{% static '/images/courses/aws-training.jfif' %}" alt="AP2V Course" />
          <div class="overlay"></div>
        </div>
        <div class="course-info">
          <div class="heading-div">
            <div class="heading">AWS</div>
            <hr>
          </div>
          <div class="course-content">
            Our Online AWS Training at Ap2v Solutions provides basic and advanced concepts that are designed for beginners and professionals. Our Online tutorials include all the topics such as introduction, history of AWS, global infrastructure, features of aws, Storage services, Database services, etc. So Enquire now for the free demo!          
          </div>
        </div>
      </div>
      <div class="courses-column">
        <div class="image-container">
          <img src="{% static '/images/courses/kubernetes.jpg' %}" alt="AP2V Course" />
          <div class="overlay"></div>
        </div>
        <div class="course-info">
          <div class="heading-div">
            <div class="heading">Kubernetes</div>
            <hr>
          </div>
          <div class="course-content">
            KUBERNETES is a container management system developed in the Google platform. Ap2v Solutions deals in Live Online Training, Classroom training and
            Corporate training. Our online classes are as good as our classroom training as we provide
            Interesting Exercises that will make your mind sharp. Come and experience the new method of learning!
          </div>
        </div>
      </div>
      <div class="courses-column">
        <div class="image-container">
          <img src="{% static '/images/courses/linux.jpeg' %}" alt="AP2V Course" />
          <div class="overlay"></div>
        </div>
        <div class="course-info">
          <div class="heading-div">
            <div class="heading">Linux</div>
            <hr>
          </div>
          <div class="course-content">
            This online linux training will give you real programming experience with the comfort of  execution and provide hands on practical knowledge/ practical implementation on live projects and will ensure the job. So it is the right time to experience the same.
          </div>
        </div>
      </div>
      <div class="courses-column">
        <div class="image-container">
          <img src="{% static '/images/courses/python-training.jpg' %}" alt="AP2V Course" />
          <div class="overlay"></div>
        </div>
        <div class="course-info">
          <div class="heading-div">
            <div class="heading">Python</div>
            <hr>
          </div>
          <div class="course-content">
            Whether you are an experienced programmer or not, this Online Python training at Ap2v solutions is intended for everyone who wishes to learn the Python programming language. Our Python tutorial covers data manipulation, data visualization, statistics, machine learning, and more. Also experience our advanced method of learning . 
          </div>
        </div>
      </div>
      <div class="courses-column">
        <div class="image-container">
          <img src="{% static '/images/courses/redhat-certification.jpeg' %}" alt="AP2V Course" />
          <div class="overlay"></div>
        </div>
        <div class="course-info">
          <div class="heading-div">
            <div class="heading">RHCE</div>
            <hr>
          </div>
          <div class="course-content">
            In our comprehensive online RHCE training you will encounter whiteboard concept teaching, live command-line interface work, Screen Sharing and so on giving you a reliable environment so you can get the real-world experience that you need to fully understand concepts and practice your skills
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column testimonials-new">
    <div class="heading-div">
      <div class="heading">Students Testimonials</div>
      <hr>
    </div>
    <div class="scroll-wrapper">
      <div class="scroll-div">
        {% for user in testimonials %}
        <div class="testimonials-column">
          <div class="person-info">
            <div class="photo-div">
              <img src="/media/{{user.image}}" alt="Photo" />
            </div>
            <div class="name">{{user.name}}</div>
            <div class="designation">{{user.designation}}</div>
            <div class="rating">
              {% with ''|center:user.rating as range %}
              {% for i in range %}
              <sup class="fill-star"></sup>
              {% endfor %}
              {% endwith %}
            </div>
          </div>
          <div class="testimonial-content">" {{user.content}} "</div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="column enquiry-form-div">
    <div class="background-image">
      <img src="{% static 'images/gallery/galler-9.jpg' %}" alt="Photo" />
    </div>
    <div class="about-form">
      <div class="frame-top"></div>
      <div class="big-text">Register Here !</div>
      <p>Join AP2V for best online courses</p>
      <div class="frame-bottom"></div>
    </div>
    <div class="form-container">
      <div class="form-heading">
        <div class="heading">Enquiry Form</div>
        <hr>
      </div>
      <form method="post" id="enquiryform" action="{% url 'add-enquiry' %}">
        {% csrf_token %}
        <input type="text" name="firstname" placeholder="Frist Name" required>
        <input type="text" name="lastname"placeholder="Last name" required>
        <input type="email" name="email_address" placeholder="Email" required>
        <input type="text" name="mobile_number" placeholder="Mobile" required>
        <textarea name="text_message" rows="3" maxlength="120" placeholder="Message" required></textarea>
        <input type="submit" value="Send" />
        </form>
    </div>
  </div>
</div><!-- /.info-container -->
{% include 'home/footer.html' %}
<script src="{% static "home/js/home_javascript.js" %}?{% now 'jS S Y H:i' %}"></script>
{%endblock%}
