{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome AP2v.com</title>
    <title>502</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link media="all" rel="stylesheet" href="{% static 'v4_home_static/css/bootstrap.css' %}" type="text/css" />
    <link media="all" rel="stylesheet" href="{% static 'v4_home_static/css/others.css' %}" type="text/css" />
</head>
<body>
    <div class="container">
        <div class="error-page">
            <span class="error-page--img">
                <img src="{% static 'v4_home_static/images/404.png' %}" class="img-fluid" alt="404">
            </span>
            
            <div class="error-page__content mt-5">
                <h3>Whoops!:(</h3>
                <p class="error-page__content--text">We can't seem to find the page that you're looking for</p>
                <p class="mt-5"> <a href="/" class="btn btn-lg btn-primary">Go to Homepage</a></p>
            </div>
        </div>
    </div>
</body>
</html>