# Created by https://www.gitignore.io

# Django identity_service gitignore content
staticfiles/*
**/migrations/0*.py
**/__pycache__
venv
**/local_settings.py
anquira/db.sqlite3
anquira/dbb.sqlite3
db.sqlite3
dbb.sqlite3
media/*
!rs_backend/identity_service
mariadb
docker_files/
### OSX ###
.DS_Store
.AppleDouble
.LSOverride
.idea/*
# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# PyBuilder
target/


### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
db.sqlite3
migrations/*
anquira_v2/local_settings.py

static/node_modules/
static/package-lock.json
static/package.json

static/v4_home_static/node_modules/
static/v4_home_static/package-lock.json
static/v4_home_static/package.json

*.DS_Store
static/.DS_Store
db.sqlite3
activity/__pycache__/
activity/migrations/
activity/migrations/__init__.py
ap2v_courses/__pycache__/
ap2v_courses/migrations/
ap2v_courses/migrations/__init__.py
ap2v_e_store/__pycache__/
ap2v_e_store/migrations/
ap2v_e_store/migrations/__init__.py
batches/__pycache__/
batches/migrations/
batches/migrations/__init__.py
blogs/__pycache__/
blogs/migrations/
blogs/migrations/__init__.py
bluejeans/__pycache__/
bluejeans/migrations/
bluejeans/migrations/__init__.py
chat_readme/__pycache__/
chat_readme/migrations/
chat_readme/migrations/__init__.py
chats/__pycache__/
chats/migrations/
chats/migrations/__init__.py
classroom/__pycache__/
classroom/migrations/
classroom/migrations/__init__.py
communication/__pycache__/
communication/migrations/
communication/migrations/__init__.py
core/__pycache__/
courses/__pycache__/
courses/migrations/
courses/migrations/__init__.py
demo/__pycache__/
demo/migrations/
demo/migrations/__init__.py
enquiries/__pycache__/
enquiries/migrations/
enquiries/migrations/__init__.py
enrolls/__pycache__/
enrolls/migrations/
enrolls/migrations/__init__.py
events/__pycache__/
events/migrations/
events/migrations/__init__.py
feedback/__pycache__/
feedback/migrations/
feedback/migrations/__init__.py
followups/__pycache__/
followups/migrations/
followups/migrations/__init__.py
gallery/__pycache__/
gallery/migrations/
gallery/migrations/__init__.py
home/__pycache__/
home/migrations/
home/migrations/__init__.py
instructors/__pycache__/
instructors/migrations/
instructors/migrations/__init__.py
landing_page/__pycache__/
learning_paths/__pycache__/
learning_paths/migrations/
learning_paths/migrations/__init__.py
payment/__pycache__/
payment/migrations/
payment/migrations/__init__.py
promotions/__pycache__/
promotions/migrations/
promotions/migrations/__init__.py
recording_sessions/__pycache__/
recording_sessions/migrations/
recording_sessions/migrations/__init__.py
reporting/__pycache__/
reporting/migrations/
reporting/migrations/__init__.py
seo/__pycache__/
seo/migrations/
seo/migrations/__init__.py
sitemaps/__pycache__/
testimonials/__pycache__/
testimonials/migrations/
testimonials/migrations/__init__.py
users/__pycache__/
users/migrations/
users/migrations/__init__.py
website/__pycache__/
website/migrations/
website/migrations/__init__.py

