{% extends 'website/base.html' %}
{% load static %}
{% block content %}
<div class="wrapper">
  {% include 'website/sidebar.html' %}
  {% include 'website/header.html' %}
  <div class="main-panel">

    <div class="content">
      <div class="container-fluid">
        <div class="main-heading-wrap">
          <h2>All Campaign | <a href="#" onclick="openCampaignModal()">Create Campaign</a></h2>
            <div class="sort-by">
                
                <select class="form-control">
                  <option value="0">Sort By</option>
                  <option value="1">Name</option>
                  <option value="this">Database</option>
                  <option value="1">Name</option>
                  <option value="this">Database</option>
                </select>

                <input type="text" aria-label="Last name" class="form-control">
                <button class="search-btn"> <i class="nc-icon nc-zoom-split"></i> </button>
            </div>
          <button class="btn btn-secondary btn-filter"><img src="{% static 'assets/img/filter.png'%}" class="logo-image" alt=""></button>
        </div>
        
        <table class="new-table">
          <thead>
            <tr class="new-table--head">
              <th scope="col">ID</th>
              <th scope="col">Campaign Name</th>
              <th scope="col">Type</th>
              <th scope="col">Source</th>
              <th scope="col">Source Location</th>
              <th width="12%" scope="col">Target Users</th>
              <th width="12%" scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>

        {% for i in campaign %}
          <tbody class="new-table--tbody">
            <tr class="new-table--list">
              <td>{{i.id}}</td>
              <td>{{i.campaign_template.template_name}}</td>
              <td>{% if i.c_type == "0" %}Not Defined {% elif i.c_type == "1" %} Email {% elif i.c_type == "2" %}SMS {% endif %} </td>
              <td>{{i.source}}</td>
              <td><a href="/media/{{i.location}}">Download File</a></td>
              <td align="center">50000</td>
              <td align="center"> <a href="#" onclick="viewCampaign('{{i.id}}')">View</a></td>
              <td><b class="caret-dark" data-toggle="collapse" href="#tableData_{{forloop.counter}}" role="button" aria-expanded="false" aria-controls="tableData_{{forloop.counter}}"></b></td>
            </tr>

            <tr class="new-table--list collapse secondary-data" id="tableData_{{forloop.counter}}">
              <td colspan="7" class="p-0">
                <table>
                  <tr>
                    <td>
                      <p class="title">Sent to</p>
                      <p class="data">50000</p>
                    </td>
                    
                    <td>
                      <p class="title">Approved</p>
                      <p class="data">Yes</p>
                    </td>
                    
                    <td>
                      <p class="title">Completed</p>
                      <p class="data">No</p>
                    </td>
                    
                    <td>
                      <p class="title">Created on</p>
                      <p class="data">{{i.date}}</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        {% endfor %}
          
{% comment %}           
          <tbody class="new-table--tbody">
            <tr class="new-table--list">
              <td>2345</td>
              <td>New Campaign - Diwali Offer to Aws, Linux, Devops Level 1 Students</td>
              <td>Email</td>
              <td>CSV/DB</td>
              <td>Media/Promotions (2020-01-20)Lorem ipsum dolor sit amet.csv</td>
              <td align="center">50000</td>
              <td><b class="caret-dark" data-toggle="collapse" href="#tableData_7" role="button" aria-expanded="false" aria-controls="tableData_7"></b></td>
            </tr>

            <tr class="new-table--list collapse secondary-data" id="tableData_7">
              <td colspan="7" class="p-0">
                <table>
                  <tr>
                    <td>
                      <p class="title">Sent to</p>
                      <p class="data">50000</p>
                    </td>
                    
                    <td>
                      <p class="title">Approved</p>
                      <p class="data">Yes</p>
                    </td>
                    
                    <td>
                      <p class="title">Completed</p>
                      <p class="data">No</p>
                    </td>
                    
                    <td>
                      <p class="title">Created on</p>
                      <p class="data">20-01-2020</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody> {% endcomment %}
          
        </table>

        {% comment %} <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center mt-3">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav> {% endcomment %}
      </div>
    </div>
    {% include 'website/footer.html' %}
  </div>
</div>





<!-- Modal -->
<div class="modal fade" id="createCampaignModal" tabindex="-1" aria-labelledby="createCampaignModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content add-student">
            <div class="modal-header">
                <h5 class="modal-title" id="createCampaignModalLabel">Create Campaign</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% comment %} <div class="container-fluid"> {% endcomment %}
                    {% comment %} <div class="container"> {% endcomment %}
                        {% comment %} <div class="row mt-4">
                            <div class="col-md-12 col-sm-12"> {% endcomment %}
                                <form method = "POST" class="form-horizontal" action="/promotions/add_promotion/" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% comment %} <div class="card"> {% endcomment %}
                                        <div class="card-body ">
                                            <div class="row">
                                                {% comment %} <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Campaign Name </label>
                                                        <input class="form-control" type="text" name="campaign_name"  placeholder="Campaign Name"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Type</label>&nbsp;&nbsp;
                                                    <label>SMS <input type="radio"  value="sms" name="ctype"/></label>  &nbsp;&nbsp;  <label>Email <input type="radio" value="email" name="ctype"/><label>
                                                    </div>
                                                </div>

                                                <div id="sms_div" class="col-md-12">
                                                    <div class="form-group">
                                                        <textarea class="form-control" name="sms" id="" cols="30" rows="3" placeholder="Type SMS Content Here..."></textarea>
                                                    </div>
                                                </div>

                                                <div id="editor_div" class="col-md-12">
                                                    <div class="form-group">
                                                        <textarea class="form-control" name="ckeditor" id="editor" cols="30" rows="10" placeholder="Type Email Content Here..."></textarea>
                                                    </div>
                                                </div> {% endcomment %}
                                                
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        {% comment %} <label>Select Template</label> {% endcomment %}
                                                        <select name="campaign_type" id="campaign_type" class="selectpicker" required>
                                                            <option value="">Select Campaign Type</option>
                                                              <option value='1'>Email</option>
                                                              <option value='2'>SMS</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        {% comment %} <label>Select Template</label> {% endcomment %}
                                                        <select name="campaign_template" id="campaign_template" class="selectpicker" required>
                                                            <option value="">Please Select Template</option>
                                                            {% for i in campaign_template %}
                                                              <option value="{{i.id}}">{{i.template_name}} ({% if i.camp_temp_type == '0'  %}Not Defined  {% elif i.camp_temp_type == '1' %}Email{% elif i.camp_temp_type == '2' %}SMS{% endif %})</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-4" id="variable_div">
                                                  
                                                </div>

                                                <div id="template_message_div" class="col-md-12 mt-2" style="box-shadow: 0 30px 40px rgba(0,0,0,.1);padding-top: 15px;padding-bottom: 5px;border: burlywood;background-color: azure;">
                                                    Template Message: <p style="color:#bba0a0;" id="template_message"></p>
                                                </div>

                                                <div class="col-md-12" style="padding-top: 15px;">
                                                    <div class="form-group">
                                                        {% comment %} <label>Campaign Mode</label> {% endcomment %}
                                                        <select name="campaign_mode" id="campaign_mode" class="selectpicker" required>
                                                            <option value="">Please Select Campaign</option>
                                                            <option value="csv">CSV</option>
                                                            {% comment %} <option value="database">Database</option> {% endcomment %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12" id="file_div">
                                                    <div class="form-group">
                                                        <input class="form-control" required type="file" accept=".csv" name="data_file" id="datafile" />
                                                    </div>
                                                </div>

                                                <a hidden style="font-size:10px;" href="">Download Sample Number CSV File</a></br>
                                                <a hidden style="font-size:10px;" href="">Download Sample Email CSV File</a>
                                            </div>
                                            <input hidden type="text" id="variable_field_count" name="variable_field_count">
                                            <button type="submit" style="float:right;" class="btn btn-secondary btn-fill"><i class="fas fa-plus mr-1"></i>Add</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        {% comment %} </div>
                    </div> {% endcomment %}
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- End of Modal -->




<!-- Modal -->
<div class="modal fade" id="viewCampaignModal" tabindex="-1" aria-labelledby="viewCampaignModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content add-student">
            <div class="modal-header">
                <h5 class="modal-title" id="viewCampaignModalLabel">View Campaign</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="campaignModalViewBody">
                
            </div>
            
        </div>
    </div>
</div>
<!-- End of Modal -->
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
  $(document).ready(function () {
    $(`#reference option[value="{{ enquiry.reference }}"]`).prop('selected', true);
    $("#reference").selectpicker('refresh');
  });
</script>

<script src="{% static 'ckeditor/ckeditor.js' %}"></script>
<script>
    $(document).ready(function(){ 
        CKEDITOR.replace('editor');
    });
 </script>
<script>
    $("#template_message_div").hide()
    $("#editor_div").hide()
    $("#sms_div").hide()
    $("#file_div").hide()

    $("input[type='radio']").click(function() {
        var test = $(this).val();
        if(test=="sms"){
            $("#sms_div").show()
            $("#editor_div").hide()
        }
        if(test=="email"){
            $("#sms_div").hide()
            $("#editor_div").show()
        }
    });

    jQuery("#campaign_mode").change(function() {
        var value = jQuery(this).children(":selected").attr("value");
        if (value == 'csv'){
            $("#file_div").show()
        }
        else{
            $("#file_div").hide()
        }
    });

    function openCampaignModal(){
        $("#createCampaignModal").modal('show');
    }

    jQuery("#campaign_template").change(function() {
      var value = jQuery(this).children(":selected").attr("value");

      if(value=="" || value==" "){
        $("#template_message_div").hide();
        $("#template_message").text("");
        
      }

      $.ajax({
        url: '/promotions/get_campaign_template?template_id='+value,
        data: {},
        type: 'GET',
        success: function(data) {
            //alert("success");
            //alert(data['template_text'])
            //alert(data['variable_count'])
            var holder = $('#variable_div')
            holder.html('')
            let path = data['template_text'];
            var paramsPattern = /[^{\}]+(?=})/g;
            var extractParams = path.match(paramsPattern);
            var ar = extractParams;
            for (var i = 1; i <= data['variable_count']; i++) {
              holder.append('<input type="text" style="width: 400px;margin-bottom: 14px;" required class="form-control" id="variable'+ i +'" name="variable'+ i +'" placeholder="Enter '+ ar[i-1] +'">')
            };

            $("#template_message_div").show()
            $("#template_message").text(data['template_text'])

            $("#variable_field_count").val(data['variable_count'])
        },
        error: function() {
            alert("Internal Server Error!!!");
        },
    });
  });

  function viewCampaign(campaign_id){
    //alert(campaign_id)
    

    $.ajax({
        url: '/promotions/display_campaign_view?campaign_id='+campaign_id,
        data: {},
        type: 'GET',
        success: function(data) {
          $('#viewCampaignModal').modal('show');
          $('#campaignModalViewBody').html(data)

        },
        error: function() {
            alert("Internal Server Error!!!");
        },
    });


  }
</script>
{% endblock extra_js %}