.font-size-base {
    font-size: $font-size-base;
}

.font-size-small {
    font-size: $font-size-small;
}

.font-size-medium {
    font-size: $font-size-medium;
}

.font-size-large {
    font-size: $font-size-large;
}