.follow-up {
    &--filter {
        flex: 1;

        // .btn {
        //     color: $grey-medium;
        //     background-color: #f5f6f8;
        //     border-color: #f5f6f8;
        // }
    }
}

.no-data {
    width: 425px;
    margin: 0 auto;
    text-align: center;
}