{% extends 'website/base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
    <div class="wrapper">
        {% include 'website/sidebar.html' %}
        {% include 'website/header.html' %}
        <div class="main-panel">
            <!-- Navbar -->
            
            <div class="content" style="margin:0; padding-bottom:0">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                          <h4 class="card-title mt-0">Marked Recordings</h4>
                            <div class="card data-tables">
                              <div class="card-header">
                                <div class="row align-items-center justify-content-between">
                                  <div class="d-flex follow-up--filter">
                                    <div class="float-right col-md-4 pr-3 pr-md-0">
                                      {% comment %} <select class="selectpicker" id="filters" name="filters">
                                        <option value="name" {% if request.GET.type == 'name' %} selected='true' {% endif %}>Name</option>
                                        <option value="session_duration" {% if request.GET.type == 'session_duration' %} selected='true' {% endif %}>Session Duration</option>
                                        <option value="duration" {% if request.GET.type == 'duration' %} selected='true' {% endif %}>Duration</option>
                                        <option value="course" {% if request.GET.type == 'course' %} selected='true' {% endif %}>Course</option>
                                        <option value="instructor" {% if request.GET.type == 'instructor' %} selected='true' {% endif %}>Instructor</option>
                                      </select> {% endcomment %}
                                    </div><!-- // col -->

                                    <div class="float-right col-md-4 pr-3 pr-md-0">
                                      {% comment %} <input type="search" class="form-control" onkeypress="search_filter(event);" id="filters_search" value="{% if request.GET.n %}{{request.GET.n}}{% endif %}" placeholder="search..."> {% endcomment %}
                                    </div><!-- // col -->

                                    <div class="col-md-1 pr-3 pr-md-0 d-flex align-items-center justify-content-center">
                                      {% comment %} <i class="fa fa-refresh text-info" onclick="window.location.href=`${window.location.pathname}`"></i> {% endcomment %}
                                    </div><!-- // col -->

                                    {% comment %} <button type="submit" class="btn btn-primary btn-fill">Search</button> {% endcomment %}
                                    

                                  </div><!-- // d-flex -->
                                  <div class="col-md-3">
                                    {% comment %} {% include 'batches/filters_batches.html'%} {% endcomment %}
                                  </div>
                                </div><!-- // Row -->
                                
                              </div>
                                <div class="card-body table-striped table-no-bordered table-hover dataTable dtr-inline table-full-width">
                                    <div class="toolbar">
                                      <table id="datatables" class="table" cellspacing="0" width="100%">
                                        <thead>
                                            <th>#</th>
                                            <th>Type</th>
                                            <th>Course/Batch Name</th>
                                            <th>Instructor</th>
                                            <th>Start - End Date</th>
                                            <th>Marked By</th>
                                            <th>link</th>
                                            <th></th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                          {% for i in best_recording_obj %}
                                          {% get_batch_obj_for_recording i.batch_demo_id i.type as batch_obj %}
                                          <tr>
                                            <td>{{ i.id }}</td>
                                            <td>{% if i.type == '1' %}Batch {% elif i.type == '2' %} Demo {% endif %} </td>
                                            <td>{{i.batch_demo_id}}-{{i.batch_name}}</td>
                                            <td>{{batch_obj.instructors.name}}</td>
                                            <td>{{batch_obj.start_date_time}} - {{batch_obj.end_date_time}}</td>
                                            <td>{{i.user.first_name}}</td>
                                            <td><input style="width: 218px;border: transparent;" id="demo_{{forloop.counter}}" readonly type="text" value="{{i.link}}"></td>
                                            <td style="color:blue" onclick="copyDemoInfo('{{forloop.counter}}')" id="copy_{{forloop.counter}}"><i style="font-size:15px" class="fa">&#xf0c5;</i> Copy info</td>
                                            <td> <a href="javascript:void(0)" onclick="removeMarkedRecording('{{i.id}}')"><i class="fa fa-trash"></i></a> </td>
                                          </tr>
                                          {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="row mx-1">
                              <div class="col-sm-12 col-md-5 font-size-base"><span class="mt-2 d-block">Showing {{ best_recording_obj.start_index }} - {{ best_recording_obj.end_index }} of {{ best_recording_obj.paginator.count }}</span></div>
                              <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="datatables_paginate">
                                    <ul class="pagination">
                                      {% comment %} {% if batches.has_previous %}
                                      <li class="paginate_button page-item previous" id="datatables_previous">
                                      <a href="?page={{ batches.previous_page_number }}" aria-controls="datatables" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                      </li>
                                      {% else %}
                                      <li class="paginate_button page-item previous disabled" id="datatables_previous">
                                      <a href="#" aria-controls="datatables" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                      </li>
                                      {% endif %}

                                      {% for i in batches.paginator.page_range %}
                                        {% if i %}
                                          {% ifequal i batches.number %}
                                            <li class="paginate_button page-item active">
                                              <a href="?page={{ i }}" aria-controls="datatables" data-dt-idx="1" tabindex="0" class="page-link">{{i}}</a>
                                            </li>
                                          {% else %}
                                            <li class="paginate_button page-item">
                                              <a href="?page={{ i }}" aria-controls="datatables" data-dt-idx="1" tabindex="0" class="page-link">{{i}}</a>
                                            </li>
                                          {% endifequal %}
                                        {% else %}
                                          <li class="paginate_button page-item" id="nopage">
                                            <a href="javaScript:void(0)" aria-controls="datatables" data-dt-idx="0" tabindex="0" class="page-link" style="pointer-events: none;">...</a>
                                          </li>
                                        {% endif %}
                                      {% endfor %}

                                      {% if batches.has_next %}
                                        <li class="paginate_button page-item next" id="datatables_next">
                                        <a href="?page={{ batches.next_page_number }}" aria-controls="datatables" data-dt-idx="2" tabindex="0" class="page-link">Next</a>
                                        </li>
                                      {% else %}
                                        <li class="paginate_button page-item next disabled" id="datatables_next">
                                        <a href="#" aria-controls="datatables" data-dt-idx="2" tabindex="0" class="page-link">Next</a>
                                        </li>
                                      {% endif %} {% endcomment %}

                                      {% if best_recording_obj.has_previous %}
                                        <li class="paginate_button page-item previous" id="datatables_previous">
                                          <a aria-controls="datatables" data-dt-idx="0" tabindex="0" class="page-link" href="?page=1" tabindex="-1">FIRST</a>
                                        </li>
                                        <li class="paginate_button page-item previous" id="datatables_previous">
                                          <a href="?page={{ best_recording_obj.previous_page_number }}" aria-controls="datatables" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                        </li>
                                        {% else %}
                                        <li class="paginate_button page-item previous disabled" id="datatables_previous">
                                        <a href="#" aria-controls="datatables" data-dt-idx="0" tabindex="0" class="page-link">FIRST</a>
                                        </li>
                                        <li class="paginate_button page-item previous disabled" id="datatables_previous">
                                        <a href="#" aria-controls="datatables" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                        </li>
                                        {% endif %}

                                        {% for i in best_recording_obj.paginator.page_range %}
                                            {% if best_recording_obj.number == i %}
                                                <li class="paginate_button page-item active">
                                                <a href="?page={{ i }}" aria-controls="datatables" data-dt-idx="1" tabindex="0" class="page-link">{{i}}</a>
                                              </li>
                                            {% elif i > best_recording_obj.number|add:'-5' and i < best_recording_obj.number|add:'5' %}
                                                <li class="paginate_button page-item">
                                                <a href="?page={{ i }}" aria-controls="datatables" data-dt-idx="1" tabindex="0" class="page-link">{{i}}</a>
                                              </li>
                                            {% endif %}
                                        {% endfor %}

                                        {% if best_recording_obj.has_next %}
                                          <li class="paginate_button page-item next" id="datatables_next">
                                            <a href="?page={{ best_recording_obj.next_page_number }}" aria-controls="datatables" data-dt-idx="2" tabindex="0" class="page-link">Next</a>
                                          </li>
                                          <li class="paginate_button page-item next" id="datatables_next">
                                            <a href="{% if best_recording_obj.has_next %} ?page={{ best_recording_obj.paginator.num_pages }}" aria-controls="datatables" data-dt-idx="2" tabindex="0" class="page-link" {% endif %}>LAST</a>
                                          </li>
                                        {% else %}
                                          <li class="paginate_button page-item next disabled" id="datatables_next">
                                            <a href="#" aria-controls="datatables" data-dt-idx="2" tabindex="0" class="page-link">Next</a>
                                          </li>
                                          <li class="paginate_button page-item next disabled" id="datatables_next">
                                            <a href="#" aria-controls="datatables" data-dt-idx="2" tabindex="0" class="page-link">LAST</a>
                                          </li>
                                      {% endif %}
                                  </ul>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          {% include 'website/footer.html' %}
        </div>
      </div>
      <script>
        function copyDemoInfo(id){
          var copyText03 = document.getElementById("demo_"+id)
          copyText03.select();
          document.execCommand("Copy");
          $("#stu_join").text("")
          $("#inst_join").text("")
          $("#copy_"+id).text("Info copied");
          $("#copy_"+id).css("color","green");
        }

        function removeMarkedRecording(id){
          if(id){
                $.ajax({
                    type: "GET",
                    data : {"id":id},
                    url: "/batches/removeMarkedRecording", 
                    success: function(data){
                        //alert("Success")
                        location.reload();
                    },
                    error: function(data){
                        alert("Internal Server Error !!!")
                    }
                });
            }
        }
      </script>

      
{% endblock content %}
