.banner-inner {
  position: relative;
  overflow: hidden;
}

.banner-inner::after {
  content: none;
  width: 626px;
  height: 420px;
  background-image: url(../images/course-detail/inner-bg.png);
  background-repeat: repeat;
  position: absolute;
  right: -90px;
  top: 0;
  z-index: 0;
}

@media (min-width: 992px) {
  .banner-inner::after {
    content: '';
  }
}

.banner-inner--content {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .banner-inner--content {
    padding-left: 0;
    padding-right: 0;
  }
}

.banner-inner--left-pan {
  padding-right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  flex: 0 0 100%;
}

@media (min-width: 992px) {
  .banner-inner--left-pan {
    padding-right: 60px;
    flex: 0 0 60%;
  }
}

.banner-inner--left-pan .btn-lg {
  font-size: 0.875rem;
}

@media (min-width: 992px) {
  .banner-inner--left-pan .btn-lg {
    font-size: 1rem;
  }
}

.banner-inner--left-pan h1 {
  font-size: 1.25rem;
}

@media (min-width: 992px) {
  .banner-inner--left-pan h1 {
    font-size: 2.25rem;
  }
}

.banner-inner--left-pan--subHead {
  text-transform: uppercase;
  color: #666e75;
  font-size: 0.750rem;
  font-weight: 700;
}

@media (min-width: 992px) {
  .banner-inner--left-pan--subHead {
    font-size: 1.25rem;
  }
}

.banner-inner--right-pan {
  position: relative;
  z-index: 1;
  right: 20px;
}

.product-box {
  border: 1px solid transparent;
  transition: all 0.5s ease;
  width: 100%;
}

.product-box:hover {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.15);
  border-color: #dbe4ec;
}

.product-box .icon-star-fill {
  color: #ffc107;
}

.product-list--item {
  padding: 12px;
}

.product-list--item img {
  width: 108px;
}

.bg-gray {
  background-color: #f6f6f6;
}

.promo-banner {
  width: 100%;
  height: 203px;
  position: relative;
  background-image: linear-gradient(to right, #ab1530 0, #e92347 100%);
  background-repeat: repeat-x;
}

.promo-banner img {
  opacity: .5;
}

.promo-banner--content {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.promo-banner--content i {
  top: 2px;
}

.promo-banner--content h2 {
  font-size: 2.05rem;
  font-weight: 600;
}

.promo-banner--content--text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
}

.promo-banner::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(171, 21, 48, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}

.promo-banner--smo {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  z-index: 9;
}

.promo-banner--smo a {
  display: block;
  color: #fff;
  height: 25px;
  transition: all .2s linear;
}

.promo-banner--smo a:hover {
  color: #e92347;
}

.enroll-form {
  background-color: #f6f6f6;
  padding: 40px 0 30px 0;
  position: relative;
  display: flex;
  align-items: center;
}

.enroll-form::after {
  content: none;
  width: 338px;
  height: 224px;
  background-image: url(../images/course-detail/enroll-form.png);
  display: block;
  position: absolute;
  right: 0;
  top: 1px;
  background-size: contain;
}

@media (min-width: 768px) {
  .enroll-form::after {
    content: '';
  }
}

.enroll-form .animation-input:focus~label,
.enroll-form .has-content .animation-input~label {
  background-image: linear-gradient(to bottom, #f6f6f6 33%, #fff 81%);
}

.enroll-form .btn-white {
  color: #e92347;
}

.call-us {
  position: relative;
}

.call-us::before {
  content: '';
  width: 115px;
  height: 97px;
  background-image: url(../images/call-us-bg.png);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.call-us::after {
  content: '';
  width: 81px;
  height: 77px;
  background-image: url(../images/call-us.png);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.call-us--subHead {
  color: #777777;
  font-weight: 600;
}

.call-us--head {
  font-size: 1.875rem;
  font-weight: 500;
  color: #252525;
}

.arrow-on-right button::before {
  content: '\e915';
  font-family: 'icomoon' !important;
  position: absolute;
  right: 20px;
  transition: all .2s ease-in-out;
  transform: rotate(270deg);
  font-size: 10px;
  color: #777777;
}

.arrow-on-right button.collapsed::before {
  transform: rotate(90deg);
}

.arrow-on-right button:focus {
  outline: 0;
  box-shadow: none;
}

.light-blue .card {
  background-color: #fff;
  border: 1px solid #f2f2f2;
  padding: 15px;
  border-radius: 4px;
  position: relative;
}

.light-blue .card button {
  font-weight: 600;
}

.filter__list {
  display: flex;
  align-items: center;
  margin: 0;
  flex-grow: 1;
  padding-right: 30px;
}

.filter__list li {
  flex: 0 0 14%;
}

.filter__list li:first-child {
  flex: 0 0 auto;
}

.filter__list li:not(:last-child) {
  margin-right: 10px;
}

.filter--applied {
  position: relative;
}

.filter--applied::before {
  content: '';
  width: 7px;
  height: 7px;
  display: block;
  background-color: #e92347;
  position: absolute;
  left: 15px;
  top: -3px;
  border-radius: 50%;
}

.filter--reset {
  flex: 0 0 90px;
}

.applied-filter__lists {
  display: flex;
  align-items: center;
}

.applied-filter__lists li {
  margin-right: 15px;
}

.applied-filter__lists .icon-close {
  cursor: pointer;
}

.applied-filter__lists .icon-close::before {
  font-size: 0.5625rem;
}

.applied-filter--wrap {
  background-color: #f4f8fc;
  border-radius: 30px;
  padding: 5px 10px;
  border: 1px solid #e7ecef;
  font-size: 0.75rem;
  display: inline-block;
}

.tagging--item {
  border-radius: 3px;
  border: 1px solid #ababab;
  font-size: 0.625rem;
  color: #777777;
  padding: 2px 5px;
  text-transform: uppercase;
  font-weight: 600;
}

.yellow-tag {
  font-size: 8px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 2px 5px;
  background-color: #ffd900;
  color: #e92347;
  border-radius: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.yellow-tag:not(:last-child) {
  margin-right: 10px;
}

.yellow-tag.max-w-90 {
  max-width: 90%;
}

.tagging-round {
  margin: 0 -3px;
}

.tagging-round--item {
  border-radius: 30px;
  border: 1px solid rgba(171, 171, 171, 0.2);
  background-color: #f4f8fc;
  font-size: 0.8125rem;
  color: #666e75;
  padding: 3px 15px 5px 15px;
  display: inline-block;
  margin: 5px;
}

.course-review--mainImage {
  width: 413px;
  height: 413px;
  display: block;
  position: relative;
  left: -80px;
}

.course-review--mainImage img {
  display: block;
}

.course-review--image {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #fff;
}

.course-review--image img {
  width: 75px;
  height: 75px;
  display: block;
}

.course-review__lists {
  margin: 0 -15px;
  font-size: 0.8125rem;
}

.course-review__lists li {
  padding: 15px;
}

.course-review__lists li .white-box {
  position: relative;
  padding-bottom: 70px !important;
}

.course-review__lists .testimonial-content {
  height: 145px;
}

.course-review__lists .line {
  width: 100%;
  height: 3px;
  background: #e92347;
  display: block;
  position: relative;
  margin: 15px 0 30px;
}

.course-review__lists .line img {
  width: 12%;
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 0 5px;
}

.course-review__lists--bottom {
  position: absolute;
  height: 70px;
  background-color: #fafbff;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.course-review__lists--content {
  text-align: left !important;
}

.learning-path--box {
  width: 100%;
  position: relative;
  padding: 20px 20px 15px;
}

.learning-path--box::before {
  content: '';
  width: 45px;
  height: 3px;
  background-color: #e92347;
  position: absolute;
  top: 0;
  left: 20px;
}

.learning-path--box--img {
  width: 50px;
  height: auto;
  position: absolute;
  bottom: 25px;
  right: 20px;
}

.learning-path--box--img img {
  width: 100%;
  height: auto;
}

.learning-path__lists {
  display: flex;
  flex-wrap: wrap;
}

.learning-path__lists li {
  padding: 15px;
  width: 100%;
}

@media (min-width: 992px) {
  .learning-path__lists li {
    width: 50%;
  }
}

.listing-links li {
  display: inline-block;
  margin: 3px 0;
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  .listing-links li {
    font-size: 0.875rem;
  }
}

.listing-links li::after {
  content: '|';
  padding: 0 10px;
}

.listing-links li a {
  color: #535b62;
}

.listing-links li a:hover,
.listing-links li a.active {
  color: #e92347;
}

.listing-links li a.active {
  font-weight: 600;
  text-decoration: underline;
}

.listing {
  display: flex;
}

.listing__leftPanel {
  flex-grow: 1;
  padding-right: 0;
}

@media (min-width: 992px) {
  .listing__leftPanel {
    padding-right: 30px;
  }
}

.listing__rightPanel {
  flex: 0 0 345px;
  position: relative;
}

.listing__box {
  border: 1px solid #eee;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  font-size: 0.8125rem;
  transition: all .3s ease-in-out;
  position: relative;
}

@media (min-width: 992px) {
  .listing__box {
    flex-direction: row;
    padding: 25px;
  }
}

.listing__box:not(:last-child) {
  margin-bottom: 20px;
}

.listing__box:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-color: rgba(233, 35, 71, 0.4);
}

.listing__box--img {
  width: 112px;
  height: 91px;
  display: block;
  flex: 0 0 97px;
}

.listing__box--img img {
  width: 100%;
  display: block;
}

.listing__box--img.bg {
  background-image: url(../images/icon-bg.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listing__box--img.bg img {
  width: 75%;
}

.listing__box__content h2 {
  font-size: 1rem;
}

.listing__box__content h2 a {
  color: #535b62;
}

.listing__box__content--highlights {
  font-weight: 500;
  display: flex;
  color: #666e75;
}

.listing__box__content--highlights li:not(:last-child) {
  margin-right: 15px;
}

.listing__box__content__price {
  font-weight: 600;
}

.listing__box__content__price .realPrice {
  font-size: 1rem;
}

.listing__box__content__price .noCourses {
  border-left: 1px solid #ababab;
  font-size: 0.6875rem;
  padding-left: 10px;
}

.listing__box__content .learning-path-highlighter {
  font-size: 30px;
  color: #999;
  position: absolute;
  top: 5px;
  right: 10px;
}

.listing__box__content--headWrap {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

#sidebar.fixed-side {
  float: none;
  position: fixed;
  top: 70px;
  z-index: 1;
  right: auto;
  left: auto;
  width: 345px;
}

.path-highlight {
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.1);
}

.path-highlight__wrap {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: auto;
}

.path-highlight--item {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
  padding: 15px 0;
}

.path-highlight--item:not(:last-child) {
  border-right: 1px solid rgba(171, 171, 171, 0.3);
  padding-right: 15px;
  margin-right: 15px;
}

.path-highlight--item i {
  font-size: 35px;
  margin-right: 10px;
}

.learning-path-listing__lists {
  border-left: 1px solid #e2e2e2;
  position: relative;
  flex-direction: column;
}

.learning-path-listing__lists li {
  position: relative;
  padding-left: 30px;
  padding-top: 30px;
}

@media (min-width: 992px) {
  .learning-path-listing__lists li {
    padding-left: 60px;
  }
}

.learning-path-listing__lists--count {
  width: 40px;
  height: 40px;
  border: 1px solid #e2e2e2;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  font-weight: 500;
}

.learning-path-listing__lists .listing__box {
  width: 100%;
}

@media (min-width: 992px) {
  .learning-path-listing__lists .listing__box {
    width: 800px;
  }
}
section.container.gosd .course-trend-lower {
  height: 162px;
 }
 section.container.gosd .course-trend-lower span {
   padding-bottom: 3px;
}
section.container.gosd .course-trend-lower p {
  color: #868686;
  padding-top: 10px;
}
/* ************************************************ */
section.container2s.new {
  display: flex;
   width: 100%;
  margin: 0 auto;
}
section.container2s.new .course-trend-lower {
  height: auto;
  box-shadow: none;
  background-color: white;
}
.taba {
  display: flex;
  flex-direction: column;
  width: 22%;
  position: relative;
}
button.tabalinks {
  padding: 13px;
  font-size: 16px;
  width: 100%;
  border: none;
  margin-bottom: 10px;
 }
button.tabalinks.active {
  color: rgb(255, 255, 255);
  background-color: #e92347;
}
button.tabalinks:focus {
  outline: none;
}

.allseth {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  height: fit-content;
  justify-content: space-around;
}
.allseth div.tabacontent .tc-list {
  width: 265px;
  margin: 7px;
  margin-top: 0;
  box-shadow: 0 0 10px 0 #e3e3e3;
}
.tabacontent {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
   margin: 0 12px;
}
.tabatod {
  position: sticky;
  top: 75px;
}
button.tabalinks:hover {
  color: white;
  background-color: #e92347;
  transition-duration: 1s;
}
/* ************************************************ */
@media (max-width: 786px) {
  button#defaultOpen {
    width: 100%;
    color: white;
    background-color: #e92347;
}
  .allseth div.tabacontent .tc-list {
    width: inherit;
}
  section.container2s.new { 
    width: 100%;
     flex-direction: column;
  }
  .taba {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}
.tabatod {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
button.tabalinks {
  border: none;
  font-size: 16px;
  width: 47%;
  margin: 6px 3px;
  padding: 10px 13px;
}
.tabatod button:last-child {
  width: 100%;
}
.allseth { 
  width: 90%;
  margin: 10px auto; 
}
button.tabalinks.active {
  color: white;
  background-color: #e92347b9;
}
}
