.blog-detail {
    box-shadow: 0 0 10px rgba($black, .1);
    padding-top: 30px;
}

.blog-post {
    h1 {
        font-size: $h2-font-size;
        color: $secondary;
        text-transform: lowercase;

        &::first-letter {
            text-transform: uppercase;
        }
    }
    &__meta {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        flex-wrap: wrap;

        @include media-breakpoint-up(lg) {
            flex-wrap: nowrap;
        }

        &__published{
            display: flex;
            align-items: center;
            font-size: $font-size-xxs;

            &--image {
                @include size(50px, 50px);
                border-radius: 50%;
                overflow: hidden;
                margin-right: 15px;

                img {
                    @include size(100%, 100%);
                    display: block; 
                }
            }
            &--author {
                display: flex;
                align-items: center;
                margin-top: 5px;
                margin-bottom: 0;
                font-weight: $headings-font-weight;
            }

            .tag {
                font-size: $font-size-base;
                display: flex;
                align-items: center;

                span {
                    font-style: italic;
                    color: $gray-light;
                    margin-right: 5px;
                    font-size: $font-size-sm;

                    &:not(:last-child) {
                        &::after {
                            content: ',';
                        }
                    }
                }

                strong {
                    font-style: normal;
                    color: $gray-darker;
                    margin-right: 5px;
                }
            }
        }

        &--share {
            margin-top: 15px;
            
            @include media-breakpoint-up(lg) {
                margin-top: 0;
            }

            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 0;

                li {
                    a {
                        @include size(35px, 35px);
                        display: block;
                        border: 1px solid transparent;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $gray-darker;
                    }

                    &.facebook {
                        a {
                            border-color: #325ba1;
                        }
                    }
                    
                    &.twitter {
                        a {
                            border-color: #3eafde;
                        }
                    }
                    
                    &.google {
                        a {
                            border-color: #ff0000;
                        }
                    }
                    
                    &.linkedin {
                        a {
                            border-color: #007bb5;
                        }
                    }

                    &:not(:last-child) {
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    &__nav {
        padding-top: 30px;
        margin: 0 2rem 3em;
        padding-top:1.5rem;

        .previous,
        .next {
            flex: 0 0 50%;
            max-width: 50%;
            padding-right: 15px;

            a {
                display: block;
                text-align: left;
                color: #333333;
                font-size: 1rem;
                font-weight: 600;
                position: relative;
                padding-top: 25px;
                transition: all .3s;
                line-height: 1.2;

                &::before {
                    content: 'Previous Post';
                    text-transform: uppercase;
                    position: absolute;
                    top: 0px;
                    left: 0;
                    display: block;
                    text-align: left;
                    color: #777777;
                    font-size: 0.875rem;
                    text-transform: uppercase;
                    font-weight: normal;
                }

                i {
                    position: absolute;
                    left: -40px;
                    top: 1rem;
                    cursor: pointer;
                    font-size: $font-size-md;
                    transform: rotate(180deg);
                    color: $secondary;

                }
            }
        }

        .next {
            padding-left: 15px;

            a {
                text-align: right;

                &::before {
                    content: 'Next Post';
                    left: auto;
                    right: 0;
                }

                i {
                    left: auto;
                    transform: rotate(0deg);
                    right: -40px;
                }
            }
        }

    }

    &.bottom-meta {
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        padding-top: 15px;
        padding-bottom: 15px;        
    }
}

.icon-folder {
    @include size(13px, 11px);
    display: inline-block;
    background-image: url(#{$blog-sprite});
    background-repeat: no-repeat;
    background-position: 0 -51px;
}

.icon-share {
    @include size(17px, 15px);
    display: inline-block;
    background-image: url(#{$blog-sprite});
    background-repeat: no-repeat;
    background-position: 0 -36px;
    position: relative;
    top: 7px;
    margin-right: 10px;
}


article {
    word-break: break-all;

    blockquote {
        background-color: rgba($primary, .1);
        padding: 10px;
        border-radius: 4px;
    }

    pre {
        font-family: inherit;
        padding: 3px 5px;
        white-space: pre-wrap;
        background-color: rgba($primary, .1);
        width: 100%;
        word-break: break-all;
    }

    .blog-img {
        display: block;
        margin: 30px 0;
        height: 150px;
        border-radius: 4px;
        overflow: hidden;
        position: relative;

        @include media-breakpoint-up(md) {
            height: 400px; 
        }

        img {
            border-radius: 4px;
            top: -20%;
            position: absolute;
        }
    }
    
}