{% extends 'v4_home/sub_pages/base.html' %}
{% load static %}
{% load compress %}
{% load custom_tags %}
{% block title %} AP2V {% endblock %}
{% block css %}
    {% comment %} <link media="all" rel="stylesheet" href="{% static 'v4_home_static/css/listing.css' %}" type="text/css" /> {% endcomment %}
    {% compress css %}
        <link media="all" rel="stylesheet" href="/static/v4_home_static/css/listing.css" type="text/css" />
    {% endcompress %}

    {% comment %} <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://www.ap2v.com/"
            },{
                "@type": "ListItem",
                "position": 2,
                "name": "Learning Paths",
                "item": "https://www.ap2v.com/learning-path/"
            },{
                "@type": "ListItem",
                "position": 3,
                "name": "{{heading}}",
                "item": "https://www.ap2v.com/learning-path/{{slug}}"
            }]
        }
    </script> {% endcomment %}

    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{% for i in breadcrumb %}{
            "@type": "ListItem",
            "position": {{ forloop.counter }},
            "name": "{{i.name}}",
            "item": "https://www.ap2v.com{{i.path}}"
            }{% if not forloop.last %},{% endif %}
        {% endfor %}]
        }
    </script>
{% endblock css %}

{% block content %}

    <div class="main-wrap">

    {% include 'v4_home/sub_pages/push-down.html' %}
    {% include 'v4_home/sub_pages/navigation.html' %}

    <!-- Banner -->
    <div class="banner-inner">
        <div class="container">
            <div class="row banner-inner--content flex-column">
		        {% include 'v4/breadcrumb.html' %}
                <div class="d-flex">
                    <div class="banner-inner--left-pan d-flex flex-column justify-content-center">
        <!-- PLEASE_NOTE: Run only one statement at a time for getting the Page header, naver run both statement togeather -->
                        <h1 class="text-secondary">{{heading}}</h1>
        <!-- END this Statement Here -->

        <!-- PLEASE_NOTE: Run only one statement at a time for getting the Page Description, naver run both statement togeather -->
                        {{description|safe}}
        <!-- END this Statement Here -->


                        <div class="mt-4 d-flex">
                            <a href="#" data-toggle="modal" data-target="#apply-now" class="btn btn-lg btn-primary btn-gr-primary rounded-60 mr-3 px-4">Book Demo Now</a>
                            <a href="#" onclick="openVideoModal('{{preview_video_link}}')" class="btn btn-lg btn-outline-primary rounded-60"><i
                                    class="icon-video-player mr-2"></i>Preview video</a> 
                        </div>
                    </div>

                    <div class="banner-inner--right-pan d-none d-xl-block">
                        <img src="/media/{{banner_image}}" alt="banner_image" loading="lazy">
                    </div>
                </div><!-- slick-slide d-flex-->
            </div><!-- // row -->
        </div>
    </div><!-- // Banner -->

    <div class="path-highlight">
        <div class="container">
            <ul class="path-highlight__wrap">
                <li class="path-highlight--item">
                    <i class="icon-text text-primary"></i>
                    <p class="mb-0"><strong>40 Hours</strong> of expert- created video tutorials</p>
                </li><!-- // li  -->
                <li  class="path-highlight--item">
                    <i class="icon-clipboard text-primary"></i>
                    <p class="mb-0"><strong>Practice</strong> to Instructor-Led Video, or Both</p>
                </li><!-- // li  -->
                <li class="path-highlight--item">
                    <i class="icon-test text-primary"></i>
                    <p class="mb-0"><strong>Online, Offline, or Both</strong> options learning are available </p>
                </li><!-- // li  -->
                <li class="path-highlight--item">
                    <i class="icon-24-hours-support text-primary"></i>
                    <p class="mb-0"><strong>24x7 support</strong> available for doubt question</p>
                </li><!-- // li  -->
            </ul>
        </div>
    </div>

    <div class="container mt-n3">
        <div class="learning-path-listing">
            <ul class="learning-path-listing__lists listing">
            {% for course in courses %}
                <li>
                    <span class="learning-path-listing__lists--count rounded-circle">{{forloop.counter}}</span>
                    <div class="listing__box">
                        <span class="listing__box--img">
                            <img src="/media/{{course.course_icon}}" alt="{{course.name}}" loading="lazy"/>
                        </span>

                        <div class="listing__box__content flex-fill pl-0 pl-md-4">
                            <div class="d-flex align-items-center justify-content-between w-100 mb-1">
                                <div class="d-flex align-items-center">
                                    <h2 class="mb-0"><a href="/{{course.slug}}">{{course.name}}</a></h2>
                                    <span class="yellow-tag ml-2">Development</span>
                                </div>
                            </div>
                            <div style="display: flex;justify-content: flex-start;">
                                    <p class="" style="padding: 0px;margin: 0px;"><i class="icon-user-fill"></i> {{course.review_count}} Learner</p>
                                    <p class="" style="padding: 0px;margin: 0px;margin-left: 15px;"><i class="icon-calendar-star"></i> Live Recorded Class</p>
                                    <p style="padding: 0px;margin: 0px;margin-left: 15px;"><i class="icon-video-player"></i> Instructor Led Tranning</p>
                            </div>
                            <p class="font-size-xs mb-0">{{course.banner_text |safe |striptags|truncatechars:"250" }}... <a href="/{{course.slug}}" class="know-more">View more</a></p>

			    {% comment %}
                            <div class="tagging mt-2">
                                {% for tag in i.courses.tags.all %}
                                    <a href="/{{tag.name}}-courses" class="tagging--item">{{tag.name}}</a>
                                {% endfor %}
                            </div>
			    {% endcomment %}
                    </div><!-- // Product Box -->
                </li><!-- // Listing -->
            {% endfor %}

            </ul>
        </div>
    </div>

<style>
    section.bans ul.slick-dots {
    display: none !important;
}
</style>
<!-- Modal -->
<div class="modal login-modal fade" id="exampleModal1" tabindex="-1"
aria-labelledby="exampleModa1lLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="icon-close text-dark"></i>
        </button>
        <div class="modal-body">
            <div class="login-modal__wrap " style="height: 475px;">
                <div class="login-modal__left-pan" style="width:100% ;">
                    <!--  Sign in -->
                    <div id="left-panel-sign" class="d-flex flex-column justify-content-center loginSection">
                        <h2 class="mb-2 text-secondary">Sign in to your account</h2>
                        <p class="font-size-xs text-gray-medium">Welcome back! Login with your data that you entered during registration.</p>
                        {% comment %} <button class="google-login rounded d-flex align-items-center">
                             <a href="{% url 'social:begin' 'google-oauth2' %}">Sign in with google</a> 
                            <a href="#">Sign in with google</a>
                        </button> {% endcomment %}

                        <!-- <p class="text-gray-light mt-4">Login via Email</p> -->
                        <!-- <div class="or" style="height: 1px;background-color: #e0e0e0;width: 100%;text-align: center;position: relative;margin: 30px 0;">
                            <span style="background-color: #fff;padding: 0 10px;display: inline-block;position: relative;top: -10px;color: #999db3;font-size: 0.75rem;">Login via Email</span>
                        </div> -->
                        {% comment %} <form action="/classroom/login" method="POST" class="w-100"> {% endcomment %}
                            {% comment %} {% csrf_token %}  {% endcomment %}
                            <ul class="w-100 mb-0">
                                <li class="form-group">
                                    <div class="input-effect ">
                                        <input type="email" name="email" id="ldemail" class="form-control animation-input border-top-left-radius-0" placeholder aria-label="name" aria-describedby="name">
                                        <label>Email</label>
                                    </div>
                                </li>
                                <li class="form-group" style="margin-bottom: 0;">
                                    <div class="input-effect ">
                                        <input type="password" name="password" id="ldpass" class="form-control animation-input border-top-left-radius-0" placeholder aria-label="name" aria-describedby="name">
                                        <label>Password</label>
                                    </div>
                                </li>
                                <span id="loginDEMessage" style="font-size: 12px; margin-bottom: 0px;margin-top: 10px;">Login Email and Password case-senstive</span>
                                <p style="font-size: 12px; margin-top:10px;"><span>Please Note:</span> By Continuing signing in, you agree to AP2V <a href="https://www.ap2v.com/terms-and-conditions/" target="__BLANK__" >Terms & Conditions</a> and  <a href="https://www.ap2v.com/privacy-policy/" target="__BLANK__">Privacy Policy</a>.</p> 
                                <li><button style="margin-top: 15px;" type="button" onclick="attemptLoginDesktop1()" id="loginDBtnl1" class="btn btn-primary rounded-60 w-100">Sign in</button></li>
                                <li class="form-group my-4 font-size-xs text-center mb-0"><a href="javascript:void(0)" onclick="displayResetPasswordScreen()" class="text-gray-medium text-underline">Forget Password?</a></li>
                                <li class="form-group my-4 font-size-xs text-center mb-0 monkul"><a href="#" class="text-gray-medium text-underline" id="sign-up1">Sign up</a></li>

                            </ul>
                        {% comment %} </form> {% endcomment %}
                    </div><!-- // Sign in -->


                    <script>
                        function attemptLoginDesktop1(){
                            var userLogin = $("#ldemail").val()
                            var userPass = $("#ldpass").val()
                            
                            
                            if(userLogin && userPass){
                                //alert(userLogin)
                                //alert(userPass)
                                $("#loginDBtnl1").text("Please Wait...")
                                $.ajax({
                                    type: "POST",
                                    url: "/classroom/attemptuserLogin/",
                                    data: {"email":userLogin,"password":userPass,"csrfmiddlewaretoken": "{{ csrf_token }}"},
                                    success: function (data) {
                                        //alert('success')
                                        var type = sessionStorage.getItem("type")
                                        //alert(type)
                                        if(sessionStorage.getItem("type") === null){
                                            console.log("Item does not exist in localstoarge");
                                            if(data['status'] == 200){
                                                $("#loginDBtnl1").text("Login Success... Redirecting")
                                                //window.location.assign()
                                                window.location.href="/classroom"
                                            }
                                            else{
                                                $("#loginDEMessage").text(data['message'])
                                                $("#loginDEMessage").css('color', 'red');
                                                $("#loginDBtnl1").text("Login")
                                                return false;
                                            }
                                        }
                                        else{
                                           console.log("Item exists in localstorage");
                                           addToCourse(type)
                                        
                                            if(data['status'] == 200){
                                                $("#loginDBtnl1").text("Login Success... Redirecting")
                                                //window.location.assign()
                                                window.location.href="/recording_sessions/checkout"
                                            }
                                            else{
                                                $("#loginDEMessage").text(data['message'])
                                                $("#loginDEMessage").css('color', 'red');
                                                $("#loginDBtnl1").text("Login")
                                                return false;
                                            }
                                        
                                        }
                                        
                                    },
                                    error: function (data) {
                                        alert("Internal Server Error!!!");
                                    },
                                }); 
                            }
                        }
                    </script>
                    


                    <!--  Forget password -->
                    <div class="forget-password" id="resetSection">
                        <h2 class="mb-2 text-secondary">Forget Passsword</h2>
                        <p class="font-size-xs text-gray-medium">Enter email address associated with your account and we'll send you a link to reset your password</p>
                            {% csrf_token %} 
                            <ul class="w-100 mb-0">
                                <li class="form-group">
                                    <div class="input-effect ">
                                        <input type="email" name="email" id="resetEmail" class="form-control animation-input border-top-left-radius-0" placeholder aria-label="name" aria-describedby="name">
                                        <label>Email address</label>
                                    </div>
                                </li>
                                <p id="resetMessage"></p>
                                <li id="resetButton"><button type="submit" onclick="genratePasswordToken()" class="btn btn-primary rounded-60 w-100">Reset my password</button></li>
                                <li style="margin-left: 110px;" id="resetWaiting"><div class="spinner-grow text-success"></div></li>
                            </ul>
                    </div><!--  Forget password -->



                    <div id="left-panel-sign-up"
                        class="d-flex flex-column justify-content-center align-items-center text-center py-5">
                        <h2 class="mb-3 text-secondary">Create Account</h2>
                        {% comment %} <button class="google-login rounded d-flex align-items-center">
                            <a href="#">Sign in with google</a>
                        </button> {% endcomment %}

                        <p class="text-gray-light mt-4">Use your email for registration:
                        </p>
                        {% comment %} <form action="/classroom/signup" method="POST" autocomplete="off"> {% endcomment %}
                            {% comment %} {% csrf_token %} {% endcomment %}
                            <ul class="w-100">
                                <li class="form-group error">
                                    <div class="input-effect ">
                                        <input autocomplete="off" type="text" id="name" name="fullname" class="form-control animation-input border-top-left-radius-0" placeholder aria-label="name" aria-describedby="name">
                                        <label>Full name</label>
                                        <p class="error--mgs" id="name1_error">Please enter name</p>
                                    </div>
                                </li>

                                <li class="form-group error">
                                    <div class="input-effect ">
                                        <input autocomplete="off"  type="email" id="email" name="email" class="form-control animation-input border-top-left-radius-0" placeholder aria-label="name" aria-describedby="name">
                                        <label>Your email</label>
                                        <p class="error--mgs" id="email1_error">Please enter email</p>
                                    </div>
                                </li>
                                <li class="form-group error">
                                    <div class="input-effect ">
                                        <input autocomplete="off"  type="password" id="password" name="password" class="form-control animation-input border-top-left-radius-0" placeholder aria-label="name" aria-describedby="name">
                                        <label>Password</label>
                                        <p class="error--mgs" id="password1_error">Please enter password</p>
                                    </div>
                                </li>

                                <p class="password_policy_class" id="passwordPLength">Must be grater 6 characters as long.</p>
                                <p class="password_policy_class" id="passwordPChar">Can contain any letters a to z or A to Z.</p>
                                <p class="password_policy_class" id="passwordPSChar">Can contain some special characters eg(@,#,$,%,&,*,%).</p>
                                <p class="password_policy_class" id="passwordPNumber">Can contain any numbers from 0 to 9.</p>
                                <span id="password_policy_result" hidden></span>
                                
                                

                                <p id="error_message"></p>
                                <li><button class="btn btn-primary rounded-60 px-5" id="createBtnStnd" onclick="createUser()" style="margin-top: 5px;">Sign Up</button></li>
                                <li class="spinner-grow text-danger" id="createBtnStndSpiner"></li>
                            </ul>
                        {% comment %} </form> {% endcomment %}
                    </div><!-- // Sign up -->
                </div><!-- // Left panel -->

                <div id="right-panel" class="login-modal__right-pan bg-gradient-primary">
                    <div id="sigin-up-content"
                        class="login-modal__right-pan--content h-100 d-flex flex-column justify-content-center align-items-center text-center px-4">
                        <h2>Hello, Friend</h2>
                        <p>Enter your personal details and start journey with us</p>
                        <a href="#" class="btn btn-outline-white rounded-60 px-4"
                            id="sign-up">Sign up</a>
                    </div>

                    <div id="sigin-in-content"
                        class="login-modal__right-pan--content h-100 d-flex flex-column justify-content-center align-items-center text-center px-4">
                        <h2>Welcome Back</h2>
                        <p>To keep connected with us please login with your personal info
                        </p>
                        <a href="#" class="btn btn-outline-white rounded-60 px-4"
                            id="sign-in">Sign in </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- // Modal -->

        <section id="review" class="course-review bans  bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="align-items-start">Related Testimonials</h2>

                        <ul class="course-review__lists slide_3">
                        {% for testimonial in testimonials %}
                            <li>
                                <div class="white-box p-4">
                                    <div class="line">
                                        <img src="{% static 'v4_home_static/images/quotes.jpg' %}" alt="{{testimonial.name}}" loading="lazy">
                                    </div>
                                    <!-- <span class="course-review--image shadow">
                                        <img src="/media/{{testimonial.image}}" alt="Client Image">
                                    </span> -->
                                    
                                    <div class="mb-0 testimonial-content">
                                        {{testimonial.content|truncatechars:"250"|safe}}
                                        <p class="d-block mt-1"><a href="#">Read more</a></p>
                                    </div>
                                   
                                    <p class="d-block mt-3"><span>Course:</span> <a href="/{{testimonial.course.slug}}">{{testimonial.course.name}}</a></p>

                                    <div class="course-review__lists--bottom">
                                        <div class="course-review__lists--content">
                                            <p class="mb-1 font-weight-bold text-gray-dark">{{testimonial.name}}</p>
                                            <div class="d-flex align-items-centerss">
                                                <span class="icon-star-fill mr-1"></span>
                                                <span class="icon-star-fill mr-1"></span>
                                                <span class="icon-star-fill mr-1"></span>
                                                <span class="icon-star-fill mr-2"></span>
                                                <strong>{{testimonial.rating}}</strong>/5.0
                                                <span class="font-size-xxs ml-1"></span>
                                            </div>
                                        </div>

                                        <p class="mb-0">{{testimonial.date}}</p>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% remove_html_tag description as desciption_string %}

            {% comment %} {% compress js %} {% endcomment %}
                <script type="application/ld+json">{
                    "@context":"https://schema.org",
                    "@type": "Product",
                    "url":"https://www.ap2v.com/learning-path/{{slug}}",
                    "sameAs":["https://www.ap2v.com/learning-path/{{slug}}"],
                    "brand":"AP2V",
                    "aggregateRating":{
                        "@type": "aggregateRating",
                        "ratingValue": "4.5",
                        "reviewCount" : "4580"
                    },   
                    "description": "{{desciption_string}}",
                    "name":"{{heading}}",
                    "image":"https://www.ap2v.com/media/{{banner_image}}",
                    "review":[{% for comments in testimonials %}{
                            "@type": "Review",
                            "author": "{{comments.name}}",
                            "reviewBody": "{{comments.content}}",
                            "reviewRating": {
                            "@type": "Rating",
                            "ratingValue": "{{comments.rating}}"
                        }
                    }{% if not forloop.last %},{% endif %} {% endfor %}]
                    }
                </script>
            {% comment %} {% endcompress js %} {% endcomment %}

        </section><!-- // Online Course Reviews -->


        <section class="container">
            <h2 class="align-items-start">Upcoming batches of Related courses</h2>
            <ul class="product-list product-slider hide">
                {% for i in related_course_list %}
                    <li class="product-list--item">
                        <div class="white-box">
                            <a href="/{{ i.slug }}" class="d-block"><img src="/media/{{i.course_icon}}" alt="course_image" loading="lazy"></a>
                            <div class="white-box--content mt-3">
                                {% for tag in i.tags.all %}
                                    <span class="yellow-tag">{{tag.name}}</span>
                                {% endfor %}
                                <a href="/{{ i.slug }}"><h3 class="justify-content-start">{{i.name | truncatechars:45}}</h3></a>
                                <div class="d-flex align-items-center justify-content-start mb-2">
                                    Rating:
                                    <span class="icon-star-fill mx-1"></span>
                                    <strong>{{i.rating}}</strong>/5
                                    <span class="font-size-xxs ml-1">({{i.review_count}})</span>
                                </div>
                                <div class="tagging">
                                    Tagging:
                                    {% for tag in i.tags.all %}
                                        <a href="/{{tag.slug}}-courses" class="tagging--item">{{tag.name}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </li><!-- // li -->
                {% endfor %}
            </ul>
        </section><!-- // Related Category Courses -->

        <section class="bg-gray learning-path">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-5">
                        <h2 class="align-items-start">Learning Path</h2>
                        <p>Live your dream to be hired by top IT Companies with us, offering an array of professional courses with 100% Job Assistance</p>
                        <p><img src={% static "v4_home_static/images/learning-path.png" class="img-fluid" %} alt="learning_paths" loading="lazy"></p>
                    </div>

                    <div class="col-md-7">
                        <ul class="learning-path__lists">
                            {% for i in learning_paths|slice:"4" %}
                                <li>
                                    <div class="learning-path--box white-box shadow-md">
                                        <a href="/learning-path/{{i.slug}}"><h6 class="text-secondary">{{i.heading}}</h6></a>
                                        <p>{{i.description | safe |striptags|truncatechars:"100"  }}</p>
                                        <a href="/learning-path/{{i.slug}}" class="know-more">View Learning path</a>
                                        <span class="learning-path--box--img"><img src="/media/{{i.small_svg_image_for_home}}" alt="{{i.heading}}" loading="lazy"></span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>

                        <p class="text-center"><a href="/learning-path/" class="know-more">Broswse all learning path</a></p>

                    </div>
                </div>
            </div><!-- // container -->
        </section><!-- // Learning Path  -->
        
        <!--Apply Now Modal -->
        <div class="modal fade" id="previewVideoEnquiry" tabindex="-1" aria-labelledby="apreviewVideoEnquiryLabel" aria-hidden="true">
            <div class="modal-dialog form-modal">
                <div class="modal-content">
                    <div class="form-modal__wrapper">
                        <span class="form-modal__wrapper--img d-none d-md-block">
                            <img src="{% static 'v4_home_static/images/modal/modal-1.png'%}" class="img-fluid" loading="lazy" alt="model_image">
                        </span>
                        <div class="form-modal__wrapper--form">
                            <div class="modal-header">
                                <h5 class="modal-title">Watch Intro Video</h5>
                                <p class="font-size-xs mb-0 text-gray-medium">Join our community of 5,00,000 learners</p>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&#x2715;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <ul>
                                    <li id="error_name9" class="form-group">
                                        <div class="input-effect">
                                            <input type="text" id="name9" class="form-control animation-input border-top-left-radius-0"
                                                placeholder aria-label="name" aria-describedby="name">
                                            <label>Full Name</label>
                                            <p class="error--mgs">Please enter name</p>
                                        </div>
                                    </li>

                                    <li id="error_mobile9" class="form-group">
                                        <div class="phone-cc form-control">
                                            {% comment %} <select class="form-control code">
                                                <option>+91</option>
                                            </select> {% endcomment %}
                                            <input type="text" id="phone9" class="form-control" style="width: 0px;border: none;padding-left: 79px;outline: none;">
                                            <div class="input-effect phone">
                                                <input type="text" maxlength="10" id="mobile9" class="form-control animation-input border-top-left-radius-0" placeholder
                                                    aria-label="name" aria-describedby="name">
                                                <label>Phone Numver</label>
                                                <p class="error--mgs">Please enter number</p>
                                            </div>
                                        </div>
                                    </li>
                                    
                                    <li id="error_email9" class="form-group">
                                        <div class="input-effect">
                                            <input type="email" id="email9" class="form-control animation-input border-top-left-radius-0"
                                                placeholder aria-label="name" aria-describedby="name">
                                            <label>Email Id</label>
                                            <p class="error--mgs">Please enter email</p>
                                        </div>
                                    </li>

                                    <p id="error_message9"></p>
                                    <p id="success_message9"></p>

                                    <li>
                                        <input type="text" name="page_ms2" hidden id="page_ms9">
                                        <input type="text" id="vidPreviewLink" hidden>
                                        <button onclick="applyNowPreview0()" id="subbtnWatchVideo" class="btn btn-lg btn-outline-primary rounded-60 px-4">Unlock Video</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->

        <div class="modal fade" id="priviewVideo" tabindex="-1" aria-labelledby="priviewVideoLabel" aria-hidden="true">
            <div class="modal-dialog video-modal" style="max-width:750px;">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title pl-2">Demo Class</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&#x2715;</span>
                        </button>
                    </div>
        
                    <div class="video-modal--wrap">
                        {% comment %} <p class="text-gray-medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p> {% endcomment %}

                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe id="ifreameVideo" class="embed-responsive-item" title="Demo Class"  src="" allowfullscreen></iframe>
                        </div>
                    </div>
        
                    <div class="form-modal__wrapper">
                        <span class="form-modal__wrapper--img d-none d-md-block">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
        <script>

            function openVideoModal(video_link){
                //alert(video_link)
                $("#vidPreviewLink").val(video_link)
                $('#previewVideoEnquiry').modal('show');  
            }

            var input = document.querySelector("#phone9");
            window.intlTelInput(input, {
                separateDialCode: true,
                excludeCountries: ["pk", "il","ba","cf","cd","pm","do","gp","st"],
                preferredCountries: ["{{mylip}}"]
            });
        </script>
        <script>
            function applyNowPreview0(){
                var name = document.getElementById("name9").value;
                var email = document.getElementById("email9").value;
                var mobile_number = document.getElementById("mobile9").value;
                var page_ms9 = document.getElementById("page_ms9").value;
                var mailformat = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
                var loc = window.location.href
            
                if(name.trim().length == 0){
                    $("#error_name9").addClass("error");
                    document.getElementById("name9").focus();
                    return false;
                }
                if(email.trim().length == 0){
                    $("#error_email9").addClass("error");
                    document.getElementById("email9").focus();
                    return false;
                }
                try {
                    var con_code = $("#error_mobile9").find('.iti__selected-flag').attr("title");	
                    con_code = con_code.split(":");
                    con_code = con_code[1].trim();
                }
                catch(err) {
                    con_code = "N/A"
                }
                if(mobile_number.trim().length == 0){
                    $("#error_mobile9").addClass("error");
                    document.getElementById("mobile9").focus();
                    return false;
                }
                if(mobile_number.trim().length < 10){
                    $("#error_mobile9").addClass("error");
                    document.getElementById("mobile9").focus();
                    return false;
                }
        
                if(!$.isNumeric(mobile_number)){
                    $("#error_mobile9").addClass("error");
                    document.getElementById("mobile9").focus();
                    return false;
                }
    
    
                if(email.match(mailformat)){
                    mydata = {
                        reference: "ap2v.com",
                        name: name,
                        con_code:con_code,
                        mobile:mobile_number,
                        email:email,
                        comments:window.location.href,
                        source_ip: document.getElementById("source_ip").value,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        page_ms2:page_ms9
                    }
    
                    $("#subbtnWatchVideo").prop("disabled", true);
                    // add spinner to button
                    $("#subbtnWatchVideo").html(
                        '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submiting...'
                    );
                    
                    $.ajax({
                        url : "/create_enquiry",
                        method : "POST",
                        data : mydata,
                        success:function(data) {
                            if (data.code == 1){
                                document.getElementById("success_message2").innerHTML = "Your query has been submitted successfully."
                                $("#error_name9").removeClass("error");   
                                $("#error_email9").removeClass("error");  
                                $("#error_mobile9").removeClass("error"); 
    
                                document.getElementById("name9").value="";
                                document.getElementById("email9").value="";
                                document.getElementById("mobile9").value="";
                                $("#error_message9").hide()
    
                                $('#previewVideoEnquiry').modal('hide');
                                video_link = $("#vidPreviewLink").val()
                                $('#ifreameVideo').attr('src', video_link);
    
                                //$('#ifreameVideo').modal('show'); 
                                $('#priviewVideo').modal('show');  
    
                                $("#subbtnWatchVideo").prop("disabled", false);
                                // add spinner to button
                                $("#subbtnWatchVideo").html(
                                    '<span class="" aria-hidden="true"></span> Watch Video'
                                );
                            }
                            else{
                                document.getElementById("error_message9").innerHTML = "Something went wrong."
                                $("#subbtnWatchVideo").prop("disabled", false);
                                // add spinner to button
                                $("#subbtnWatchVideo").html(
                                    '<span class="" aria-hidden="true"></span> Watch Video'
                                );
                            }           
                        },
                        error:function(data){
                            document.getElementById("error_message9").innerHTML = "Something went wrong."
                            $("#subbtnWatchVideo").prop("disabled", false);
                            // add spinner to button
                            $("#subbtnWatchVideo").html(
                                '<span class="" aria-hidden="true"></span> Watch Video'
                            );
                        }
                    })
                }
            }
        </script>



        {% include 'v4_home/sub_pages/bottom-tagging_learning_path.html' %}
{% endblock content %}
