{% extends 'v4_home/sub_pages/base.html' %}
{% load static %}
{% load ap2v_course_tag %}

{% block title %} AP2v {% endblock %}

{% block css %}
    <link media="all" rel="stylesheet" href="{% static 'v4_home_static/css/dashboard.css' %}" type="text/css" />

    <style>
        
        .pay_div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
          }
          .inner_div_pay{
            margin-top: 35px;
            margin-bottom: 50px;
            border: 1px solid;
            padding: 80px;
            padding-top: 30px;
            padding-bottom: 20px;
            background-color: #f0f8ff59;
            border-color: #0e2e4959;
            border-radius: 15px;
        }
            input[type=number]::-webkit-inner-spin-button, 
            input[type=number]::-webkit-outer-spin-button { 
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                margin: 0; 
            }
    </style>

{% endblock css %}

{% block content %}
    <div class="main-wrap">
        <!-- <?php include 'inc/push-down.php'; ?> -->
        {% include 'v4_home/sub_pages/push-down.html' %}
        <!-- <?php include 'inc/navigation.php'; ?> -->
        {% include 'v4_home/sub_pages/navigation.html' %}

        <div class="pay_div">
            <div class="inner_div_pay">
                <div class="modal-header" style="background: #1ab394;border-top-left-radius: 5px;border-top-right-radius: 5px;">
                    <h4 class="modal-title text-center" style="width: 100%;"><img src="https://lh3.googleusercontent.com/-Zxh4srAEtU0/Wp0cZV-PJuI/AAAAAAAAD4E/En5x5c53s44jzvG8M0sSyFZXoRhGXfBzwCL0BGAYYCw/h100/2018-03-05.png" alt=""></h4>
                </div>
                <div class="modal-body">
                    <p style="text-align:center;color:#1ab394;font-size:20px;font-weight:500;">Cheers! Payment Successful!</p>
                    {% if message %}
                        <p style="text-align: center;color: #7fb31a;font-size: 10px;background-color: beige;padding-top: 10px;padding-bottom: 10px;">{{message}}</p>
                    {% endif %}
                    <p style="color:#555555;">
                        Name:&nbsp;<strong style="font-weight:500;font-size:16px;color: #222222;">{{order_details.name}}</strong>
                        <br>Email:&nbsp;<strong style="font-weight:500;font-size:16px;color: #222222;">{{order_details.email}}</strong>
                        <br>Mobile:&nbsp;<strong style="font-weight:500;font-size:16px;color: #222222;">{{order_details.mobile}}</strong>
                        <br>Transaction ID:&nbsp;<strong style="font-weight:500;font-size:16px;color: #222222;">{{order_details.order_id}}</strong>
                        <br>Payment Amount:&nbsp;<strong style="font-weight:500;font-size:16px;color: #222222;">Rs.{{order_details.amount}}</strong>
                        <br>Payment For:&nbsp;<strong style="font-weight:500;font-size:16px;color: #222222;">{{order_details.fee_title}}</strong>
                        <br>Date:&nbsp;<strong style="font-weight:500;font-size:16px;color: #222222;">{{order_details.datetime}}</strong>
                        <br>
                        <br><small>NOTE : Please contact to the counselor with above details or page screenshot.</small>

                        <br></strong>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script>
        
        $( document ).ready(function() {
            if(window.location.href.search('pay')>-1){
                $("#bottomScroll").hide();
                $("#jcont").hide();
            }
        });
    </script>

{% endblock content %}