
.course-review {
    &--mainImage {
        @include size(413px, 413px);
        display: block;
        position: relative;
        left: -80px;

        img {
            display: block;
        }
    }

    &--image {
        @include size(75px, 75px); 
        display: inline-block;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid $white;

        img {
            @include size(75px, 75px); 
            display: block;
        }
    }

    &__lists {
        margin: 0 -15px;

        li {
            padding: 15px;
        }
    }
}