.featured-certification {
    .white-box {
        padding: 5px;
    }

    &__lists {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            padding: 12px;
        }
    }

    &--cities {
        position: absolute;
        right: 33px;
        bottom: 20px;
        color: $secondary;

        &:hover {
            color: $gray-medium;
        }
    }

    .modal {
        padding-right: 0 !important;
    }

    .modal-dialog {
        max-width: 100%;
        margin: 0;
    }
    
    .modal-content {
        border-radius: 0;
    }
}