{% extends 'website/base.html' %}
{% load static %}
{% block content %}
    <div class="wrapper">
         {% include 'website/sidebar.html' %}
         {% include 'website/header.html' %}
        <div class="main-panel">
            <!-- Navbar -->
             
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <form id="AddCourses" class="form-horizontal" action="{% url 'courses' %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <h4 class="card-title mt-0">ADD COURSE</h4>
                                    <div class="card ">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12" style="padding-left: 30px;">
                                                  <div class="row">
                                                    <input type="radio" id="course" name="course_type" value="1" required>
                                                    <label for="course">Course/Traning</label><br>
                                                    <input type="radio" id="exam" name="course_type" value="2" style="margin-left: 10px;" required>
                                                    <label for="exam">Exam</label><br>
                                                    <input type="radio" id="book" name="course_type" value="3" style="margin-left: 10px;" required>
                                                    <label for="book">&nbsp;Book</label>
                                                  </div>
                                                </div>

                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label>Name</label>
                                                      <input class="form-control" type="text" name="name" placeholder="enter course name" autofocus required />
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label>Duration (example: 24)</label>
                                                      <input class="form-control" type="number" name="duration" placeholder="Course Duration" required="true" />
                                                  </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                              <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Price</label>
                                                    <input class="form-control" type="number" name="price" placeholder="enter price" required="true" />
                                                </div>
                                              </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label>URL</label>
                                                      <input class="form-control" type="url" name="url" placeholder="enter course url" required="true" />
                                                  </div>
                                                </div>
                                           </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                  <div class="form-group">
                                                      <label>Course Content</label>
                                                      <input class="form-control" type="file" name="course_content" accept="application/pdf" />
                                                  </div>
                                                </div>
                                           </div>
                                           {% comment %} <div class="row">
                                                <div class="col-md-12">
                                                  <div class="form-group">
                                                    <label>Is Exam :</label> <input type="checkbox" value="True" name="is_exam">
                                                  </div>
                                                </div>
                                           </div> {% endcomment %}
                                        </div>
                                        <div class="card-footer">
                                          <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                                          <button type="submit" class="btn btn-primary" onclick="CourseAddFunction()" value="Reset form">Add Course</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             {% include 'website/footer.html' %}
        </div>
    </div>
{% endblock content %}
