<form action="/enrollments/partner_payment_update/" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12 mb-3">
            <label>Partner</label>
            <input class="form-control" id="" type="text" readonly value="{{partner_queryset.partner.user.first_name}}" name="" placeholder="Amount" required/>

        </div>
        <div class="col-md-12 mb-0">
            <div class="form-group">
                <label>Amount</label>
                <input class="form-control" id="" type="number" value="{{partner_queryset.amount}}" name="update_amount" placeholder="Amount" required/>
            </div>
        </div>
        <div class="col-md-12 mb-3">
            <div class="form-group">
                <label>Paid on</label>
                <input class="form-control myCustomDateFormat" id="paid_on" value="{{partner_queryset.paid_on |date:"Y-m-d"}}" type="date" name="update_paid_on" placeholder="Paid on"   required />
            </div>
            <div>
                <label>Is Paid
                    <input type="checkbox" name="update_is_paid" id="" {% if partner_queryset.is_paid %} checked {% endif %}>
                </label>
            </div>
        </div>
        {% comment %} <div class="col-md-12 mb-3">
            <div class="form-group">
                <input class="form-control myCustomDateFormat" id="" type="text" name="" placeholder="Added on"  data-date-min-date="{{mindate}}"/>
            </div>
        </div> {% endcomment %}
    </div>
    <input type="text" hidden value="{{partner_queryset.id}}" name="partner_payment_id">
    <button type="submit" class="btn btn-info float-right">Update</button>
</form>