.info-container {
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 1% 0;
  display: flex;
  flex-flow: column nowrap;
}

.info-container .column {
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 2% 10%;
}

.info-container .column .heading-div {
  position: relative;
  width: 100%;
  padding: 2% 0;
  margin-bottom: 2%;
}

.info-container .column .heading-div .heading {
  display: block;
  width: fit-content;
  margin: auto;
  font-size: 2.5em;
}

.info-container .column .heading-div hr {
  border: 0;
  width: 20%;
  margin: 1% auto;
  min-height: .3em;
  background: #e62b48;
}

.info-container .column .column-content {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.info-container .column .column-content .background-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
}

.info-container .column .column-content .background-image .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: linear-gradient(to left, black, rgba(0, 0, 0, 0));
}

.info-container .column .column-content .background-image img {
  width: 100%;
}

.info-container .column .column-content .content-container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  box-sizing: border-box;
  padding: 0 15%;
}

.info-container .column .column-content .content-container .paragraph-text {
  font-size: 1.2em;
  color: #646464;
  text-align: center;
}

.info-container .column .column-content .icons-container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding-top: 5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.info-container .column .column-content .icons-container .icon {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}

.info-container .column .column-content .icons-container .icon .icon-lable {
  position: relative;
  text-align: center;
  text-decoration: none;
}

.info-container .column .column-content .icons-container .icon .icon-lable:hover {
  color: #e62b48;
}

.info-container .column .content-list {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 2%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.info-container .column .content-list .list-item {
  position: relative;
  width: 45%;
  box-sizing: border-box;
  padding: 1% 1%;
  margin: 0 0 1% 0;
  font-size: 1.3em;
  background: #e62b48;
  color: white;
}

.info-container .column .content-list .list-item::before {
  content: '\2611';
  color: #e62b48;
  position: absolute;
  top: -35%;
  right: 100%;
  font-size: 3.5em;
}

.info-container .popular-courses {
  position: relative;
}

.info-container .popular-courses .courses-container {
  position: relative;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4% 4%;
  padding-bottom: 10%;
}

.info-container .popular-courses .courses-container .courses-column {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 0 0 0.5em #928f8f;
  transition: .2s;
  background: white;
  padding-bottom: 30%;
  overflow: hidden;
}

.info-container .popular-courses .courses-container .courses-column:hover {
  box-shadow: 0 0.5em 1.2em #7e7b7b;
}

.info-container .popular-courses .courses-container .courses-column:hover .image-container .overlay {
  background: rgba(10, 10, 10, 0.4);
}

.info-container .popular-courses .courses-container .courses-column:hover .course-info {
  top: 20%;
}

.info-container .popular-courses .courses-container .courses-column:hover .course-info .course-content {
  top: 0;
}

.info-container .popular-courses .courses-container .courses-column .image-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.info-container .popular-courses .courses-container .courses-column .image-container img {
  width: 100%;
}

.info-container .popular-courses .courses-container .courses-column .image-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
  background: rgba(10, 10, 10, 0);
}

.info-container .popular-courses .courses-container .courses-column .course-info {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  top: 70%;
  left: 0;
  padding: 5%;
  background: white;
  transition: 1s;
  border-radius: 2em 2em  0 0;
  display: grid;
  grid-template-rows: 20% 60% 20%;
}

.info-container .popular-courses .courses-container .courses-column .course-info .heading-div .heading {
  position: relative;
  font-size: 1.8em;
  text-align: center;
}

.info-container .popular-courses .courses-container .courses-column .course-info .heading-div hr {
  border: 0;
  margin: 2% auto;
  min-height: .2em;
  width: 50%;
  background: #e62b48;
}

.info-container .popular-courses .courses-container .courses-column .course-info .course-content {
  position: relative;
  top: 15%;
  transition: 1s;
  text-align: center;
  font-size: 1.15em;
  padding: 0;
}

.info-container .testimonials-new {
  position: relative;
}

.info-container .testimonials-new .scroll-wrapper::-webkit-scrollbar {
  display: none;
}

.info-container .testimonials-new .scroll-wrapper {
  position: relative;
  width: 100%;
  min-height: 50vh;
  box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: scroll;
  overflow-y: hidden;
}

.info-container .testimonials-new .scroll-wrapper .scroll-div {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 2%;
  display: flex;
  flex-flow: row nowrap;
}

.info-container .testimonials-new .scroll-wrapper .scroll-div .testimonials-column {
  position: relative;
  width: 46%;
  flex-shrink: 0;
  margin-right: 5%;
  height: 100%;
  box-sizing: border-box;
  padding: 1%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-shadow: 0 0 1em #c8c8c8;
}

.info-container .testimonials-new .scroll-wrapper .scroll-div .testimonials-column .person-info {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.info-container .testimonials-new .scroll-wrapper .scroll-div .testimonials-column .person-info .photo-div {
  position: relative;
  width: 5em;
  align-self: center;
}

.info-container .testimonials-new .scroll-wrapper .scroll-div .testimonials-column .person-info .photo-div img {
  z-index: 100;
  border-radius: 10em;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.info-container .testimonials-new .scroll-wrapper .scroll-div .testimonials-column .person-info .name {
  font-size: 1.5em;
  font-weight: bold;
  color: #646464;
  padding: 1% 0;
}

.info-container .testimonials-new .scroll-wrapper .scroll-div .testimonials-column .person-info .designation {
  font-weight: bold;
  color: #969696;
  padding: 1% 0;
}

.info-container .testimonials-new .scroll-wrapper .scroll-div .testimonials-column .person-info .rating {
  padding: 1% 0;
}

.info-container .testimonials-new .scroll-wrapper .scroll-div .testimonials-column .testimonial-content {
  position: relative;
  height: auto;
  flex-shrink: 0;
  width: 90%;
  box-sizing: border-box;
  padding: 5% 0;
  color: #646464;
  text-align: center;
}

.info-container .testimonials-new .scroll-wrapper .scroll-div::after {
  content: '';
  min-width: 1px;
  background: rgba(250, 250, 250, 0);
  min-height: 100%;
}

.info-container .enquiry-form-div {
  position: relative;
  background: rgba(100, 100, 100, 0.5);
  display: grid;
  grid-template-columns: 60% 40%;
  overflow: hidden;
}

.info-container .enquiry-form-div .background-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
}

.info-container .enquiry-form-div .background-image img {
  width: 100%;
}

.info-container .enquiry-form-div .about-form {
  color: white;
  position: relative;
  width: fit-content;
  height: fit-content;
  top: 10%;
  left: 10%;
  padding: 5%;
}

.info-container .enquiry-form-div .about-form .big-text {
  font-size: 4em;
  margin-bottom: 2%;
  font-weight: normal;
}

.info-container .enquiry-form-div .about-form p {
  font-size: 1.3em;
}

.info-container .enquiry-form-div .about-form .frame-top, .info-container .enquiry-form-div .about-form .frame-bottom {
  position: absolute;
  width: 100%;
  height: 100%;
}

.info-container .enquiry-form-div .about-form .frame-top::before, .info-container .enquiry-form-div .about-form .frame-bottom::before {
  content: '';
  position: absolute;
  top: 0;
  left: -20%;
  width: 100%;
  height: .4em;
  background: linear-gradient(to right, #fafafa 40%, rgba(250, 250, 250, 0));
}

.info-container .enquiry-form-div .about-form .frame-top::after, .info-container .enquiry-form-div .about-form .frame-bottom::after {
  content: '';
  position: absolute;
  top: -20%;
  left: 0;
  height: 100%;
  width: .4em;
  background: linear-gradient(to bottom, #fafafa 40%, rgba(250, 250, 250, 0));
}

.info-container .enquiry-form-div .about-form .frame-top {
  top: -10%;
  left: -10%;
}

.info-container .enquiry-form-div .about-form .frame-bottom {
  bottom: -10%;
  right: -10%;
  transform: rotate(180deg);
}

.info-container .enquiry-form-div .form-container {
  position: relative;
  width: 90%;
  background: white;
  box-sizing: border-box;
  padding: 3% 5%;
  border-radius: .5em;
  display: flex;
  flex-flow: column nowrap;
}

.info-container .enquiry-form-div .form-container .form-heading {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 1%;
  margin-bottom: 4%;
}

.info-container .enquiry-form-div .form-container .form-heading .heading {
  margin: 1%;
  font-size: 2.5em;
  text-align: center;
  font-weight: normal;
}

.info-container .enquiry-form-div .form-container .form-heading hr {
  border: 0;
  margin: auto;
  width: 60%;
  background: #e62b48;
  min-height: .15em;
}

.info-container .enquiry-form-div .form-container form {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.info-container .enquiry-form-div .form-container form input, .info-container .enquiry-form-div .form-container form textarea {
  position: relative;
  margin: 2% 1%;
  padding: 2% 4%;
  font-size: 1.2em;
  border-radius: .5em;
  border: 0.05em solid #969696;
}

.info-container .enquiry-form-div .form-container form input:focus, .info-container .enquiry-form-div .form-container form textarea:focus {
  outline: none;
}

.info-container .enquiry-form-div .form-container form textarea {
  resize: none;
}

.info-container .enquiry-form-div .form-container form input[type="submit"] {
  cursor: pointer;
  background: #e62b48;
  border: 0;
  color: white;
  padding: 1.5%;
  font-size: 1.5em;
  box-shadow: 0 0.1em 0.2em #646464;
}

.info-container .enquiry-form-div .form-container form input[type="submit"]:hover, .info-container .enquiry-form-div .form-container form input[typefocus="submit"] {
  background: #b91c38;
}
