Enroll Now{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
  {% include 'home/header.html' %}
  <body class="fixed-navigation">

  <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NBG7NXZ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!-- main banner and menu container starts here  -->
    <div class="container-fluid side-collapse-container">
      <div class="row">
        <!-- header Satrts here -->
        <header class="rel">
          <!-- navbar Starts here -->
          {% include 'home/navigation.html' %}
          <!-- navbar Ends here -->

          <!-- home banner starts here -->
          <div class="bannerSm-wrap">

          <!-- inner banner starts here -->
          <div class="inner-banner">
            <div class="banner-content bottom-0">
              <div class="container">
                <div class="row">
                  <ol class="breadcrumb mb-5">
                    {% for i,j in breadcrumb.items %}
                    <li class="active"><a href="{{ j }}">{{ i }}</a></li>
                    {% endfor %}
                    <li class="active">{{certification_details.name}}</li>
                  </ol><!-- /.breadcrumb -->

                  <div class="inner-banner-wrap detail-banner">
			  <div class="detail-img hidden-xs"><img class="img-responsive" src="/media/{{ certification_details.image }}" alt="{{ certification_details.name }}"></div>
                    <div class="inner-content">
                      <h1>{{certification_details.name}}</h1>
                      <div class="body-content">
                          <div class="rating rating-red inline-block ml-0">
                            <sup class="fill-star"></sup>
                            <sup class="fill-star"></sup>
                            <sup class="fill-star"></sup>
                            <sup class="fill-star"></sup>
                            <sup class="fill-star"></sup>{{certification_details.rating}}/368 Ratings
                          </div>
                          <span class="spacer">|</span>
                          Lessons  {{count}}
                          <span class="spacer">|</span>
                          Duration  {{certification_details.duration}} months
                        </div>
                        <!-- <button type="text" class="btn-sm btn btn-default" data-toggle="modal" data-target="#rac-call">Download Course Content</button> -->
                        <a href="#" type="text" class="btn-sm btn btn-default" data-toggle="modal" data-target="#rac-down">Download Course Content</a>
			{% comment %}
                        <p class="price mb-0">Rs {{certification_details.price}} /-</p>
			{% endcomment %}
                    </div>

                    <div class="pull-right call-to-action hidden-xs hidden-sm">
                      <a href="#" data-toggle="modal" data-target="#rac-call"><span class="icon-phone" ></span>{{configration.mobile}}</a>
                      <a href="#" data-toggle="modal" data-target="#rac-down"><span class="icon-mail"></span>Enroll Now</a>
                    </div>


                                                <!-- Modal for rac-call -->
                                                <div class="modal fade" id="rac-call" role="dialog">
                                                  <div class="modal-content-call">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <div class="form-wrap-call">
                                                      <form method="post" action="{% url 'contact-popup-enquiry-call' %}" id="contact_popup_form">
                                                        {% csrf_token %}
                                                        <ul>
                                                          <li class="form-group">
                                                            <input type="number" name="mobile_number" class="form-control"  placeholder="Mobile Number*" required>
                                                          </li>

                                                          <li class="form-group">
                                                            <button type="submit" class="btn-lg btn-default">Submit</button>
                                                          </li>
                                                        </ul>
                                                      </form>
                                                    </div><!-- /. Form wrap -->
                                                  </div>
                                                </div>
                                              </div> <!-- /. Modal for rac-call -->


                        <!-- Modal for rac-down -->
                        <div class="modal fade" id="rac-down" role="dialog">
                          <div class="modal-content-call">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <div class="form-wrap-call">
                              <form method="post" action="{% url 'contact-popup-enquiry-down' %}" id="contact_popup_form">
                                {% csrf_token %}
                                <ul>
                                  <li class="form-group">
                                    <input type="email" name="email_address" class="form-control" placeholder="e.g. example@gmail.com*" required>
                                  </li>

                                  <li class="form-group">
                                    <input type="number" name="mobile_number" class="form-control"  placeholder="Mobile Number*" required>
                                  </li>

                                  <li class="form-group">
                                    <button type="submit" class="btn-lg btn-default">Submit</button>
                                  </li>
                                </ul>
                              </form>
                            </div><!-- /. Form wrap -->
                          </div>
                        </div>
                      </div> <!-- /. Modal for rac-down -->


                    <div class="clearfix"></div>
                  </div><!-- /.inner-banner-content -->


                  <div class="clearfix"></div>
                </div><!-- /.row -->
              </div><!-- /.container -->
            </div>
          </div><!-- inner banner ends here -->

          <div class="inner-overlay">
            <img src="{% static 'images/inner-banner.jpg' %}" class="img-responsive">
          </div><!-- inner overlay ends here -->

          </div><!-- home banner ends here -->
        </header><!-- header ends here -->
      </div><!-- row ends here -->
      <div class="mask"></div>
    </div><!-- main banner and menu container ends here  -->
    {% block section_content %}
    {% endblock %}
    <!-- Sticky Bottom -->
    <!-- /. Sticky Bottom -->

    <!-- Modal -->
    <!-- /. Modal -->
  </body>
</html>
