@import '../utilities';

.courses-tab {
 border-bottom-width: 5px;
 width: 100%;
 margin: 0 auto;
 font-size: $font-size-xxs;
 text-transform: uppercase;
 font-weight: 700;
 flex-wrap: nowrap;
 overflow-x: scroll;

 &::-webkit-scrollbar {
    width: .3rem;
    height: .3rem;
  }

  &::-webkit-scrollbar-track {
    background: $white;
  }

  &::-webkit-scrollbar-thumb {
    background: $white;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $white;
  }


 @include media-breakpoint-up(lg) { 
    width: 650px;
    font-size: $font-size-base;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
}

.nav-item {
    flex: 0 0 auto;

    .nav-link {
        padding: 1rem;

        border-bottom: 3px solid $nav-tabs-border-color;

        &:first-child {
            padding-left: 0;

            @include media-breakpoint-up(lg) { 
                padding-left: 1rem;
            }
        }
    }

    
}


 .nav-link {
     border: 0 none;
     color: $gray-lightest;
     padding: 1rem 0.3125rem;

    @include media-breakpoint-up(lg) { 
        padding: 1rem;
    }

    &::after {
        content: '';
        height: 2px;
        width: 100%;
        display: block;
    }

     &.active {
         background-color: transparent;

         &:after {
             content: '';
             width: 100%;
             height: 2px;
             background-color: $primary;
             display: block;
             position: relative;
             bottom: -18px;
             margin: 0 auto;
         }
     }
 }
}