.logo-header {
    background-color: $white;
    box-shadow: 0 0 10px rgba($black, 0.2);
    padding: 10px 30px;
}


.reset-password-bg {
    background-color: $gray-f6;
}
.reset-password {
    width: 750px;
    margin: 8% auto 0;

    &--logo {
        text-align: center;
        padding: 6% 0;
    }

    &__container {
        box-shadow: 0 0 10px rgba($black, 0.2);
        border-radius: 5px;
        background-color: $white;
        display: flex;
        overflow: hidden;

        &--left {
            width: 300px;
            background-color: $primary;
            background-image: url(#{$path}/reset-password.jpg);
            background-size: cover;
        }

        &--right {
            padding: 60px 60px 40px;
        }

        h2 {
            font-weight: 400;
            color: $secondary;
            font-size: $h2-font-size;
        }
    }
}

