<div>
    <p>Dear AP2V Learner,</p>
    <p>Greetings from AP2V!</p>

        <p>This message is to inform you that the there is holidays on <b>{{holiday_date}}</b> on occasion of <b>{{ocassion}}</b>.</p>

        <p>For any further queries or questions, Please feel free to connect with us on info@ap2v.com.</p>

        <p>Happy Learning @ AP2V!</p>


        {% comment %} <p>To check the latest trending courses, visit our website <a href="https://www.ap2v.com/">www.ap2v.com</a></p> {% endcomment %}

        <img src="https://www.ap2v.com/static/v4_home_static/images/ap2v-logo.png" alt="ap2v logo">
        <p>Team - AP2V</p>
</div>

