<div>
    <p>Dear AP2V Learner,</p>
        <p>This is a reminder that <b>"{{course_name}} : {{batch_start_date}}"</b> </p>

        <p>will begin in 1 Hour</p>

        <p>Please send your questions, comments and feedback to: info@ap2v.com </p>


        <p>Please follow the below steps to access your Classroom;</p>
        <ul>
            <li>Go to www.ap2v.com</li>
            <li>Click Login [Right Hand Side]</li>
            <li>Enter your login details (User ID and Password given above).</li>
            <li>Verify your e-mail via a link that will be sent to your e-mail.</li>
            <li>Go to "Join Live Classes"  to attend the class.</li>
            <li>You can also access the Class recordings.</li>
        </ul>

        <p>Happy Learning @ AP2V!</p>


        <p>To check the latest trending courses, visit our website <a href="https://www.ap2v.com/">www.ap2v.com</a></p>

        <img src="https://www.ap2v.com/static/v4_home_static/images/ap2v-logo.png" alt="ap2v logo">
        <p>Team - AP2V</p>
</div>

