<div>
    <p>Dear AP2V Learner,</p>
            <p>Thank you for your recent enrollment in <strong> {{course_name}}</strong>.{% if password %}Kindly find the login credentials below;{% endif %}</p>
            {% if password %}
                <p>Login Credentials</p>
                <ul>
                    <li>User ID : {{email}}</li>
                    <li>Password : {{password}}</li>
                </ul>
                
            {% endif %}
            <p>Please follow the below steps to access your Classroom;</p>
            <ul>
                <li>Go to www.ap2v.com</li>
                <li>Click Login [Right Hand Side]</li>
                <li>Enter your login details (User ID and Password given above).</li>
                <li>Verify your e-mail via a link that will be sent to your e-mail.</li>
                <li>Go to "Join Live Classes"  to attend the class.</li>
                <li>You can also access the Class recordings.</li>
            </ul>
            <p>Happy Learning @ AP2V!</p>
            <p>Thank you for choosing AP2V. Our Knowledge, skills and experience will help in your career growth.</p>
            <p>To check the latest trending courses, visit our website <a href="https://www.ap2v.com/">www.ap2v.com</a></p>
            <p>Please feel free to reach out for any queries.</p>
            <br>
            
            <p> <small>*Login id and password case-senstive</small> </p>
            <p style="font-size: x-small;"><i>**Once you get the login details of the Batch, Please note the fees will not be adjusted into any other course and no refund will be issued once you start the course.</i></p>
            
    <img src="https://www.ap2v.com/static/v4_home_static/images/ap2v-logo.png" alt="ap2v logo">
    <p>Team - AP2V</p>
</div>